{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <ul class="list--blocks-horizontal">
        <li>
            <a href="{% url 'gebruiker_lijst' %}">Gebruikers</a>
        </li>
        <li>
            <a href="{% url 'context_lijst' %}">Rollen</a>
        </li>
        <li>
            <a href="{% url 'rechtengroep_lijst' %}">Rechtengroepen</a>
        </li>
        <li>
            <a href="{% url 'standaard_externe_omschrijving_lijst' %}">Standaard teksten</a>
        </li>
        <li>
            <a href="{% url 'specificatie_lijst' %}">Specificaties</a>
        </li>
        <li>
            <a href="{% url 'melding_afhandelreden_lijst' %}">Melding afhandelredenen</a>
        </li>
        <li>
            <a href="{% url 'release_note_lijst' %}">Berichten</a>
        </li>
    </ul>
    </turbo-frame>
{% endblock body %}
