{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <ul class="list-horizontal">
        <li>
            <a href="{% url 'gebruiker_lijst' %}" class="btn btn-tertiary"><span>Gebruikers</span></a>
        </li>
        <li>
            <a href="{% url 'context_lijst' %}" class="btn btn-tertiary"><span>Rollen</span></a>
        </li>
        <li>
            <a href="{% url 'rechtengroep_lijst' %}" class="btn btn-tertiary"><span>Rechtengroepen</span></a>
        </li>
        <li>
            <a href="{% url 'standaard_externe_omschrijving_lijst' %}" class="btn btn-tertiary"><span>Standaard teksten</span></a>
        </li>
        <li>
            <a href="{% url 'specificatie_lijst' %}" class="btn btn-tertiary"><span>Specificaties</span></a>
        </li>
        <li>
            <a href="{% url 'melding_afhandelreden_lijst' %}" class="btn btn-tertiary"><span>Melding afhandelredenen</span></a>
        </li>
        <li>
            <a href="{% url 'release_note_lijst' %}" class="btn btn-tertiary"><span>Berichten</span></a>
        </li>
    </ul>
    </turbo-frame>
{% endblock body %}
