{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <ul class="list--blocks-horizontal">
        <li>
            <a href="{% url 'gebruiker_lijst' %}" data-turbo-frame="_top">Gebruikers</a>
        </li>
        <li>
            <a href="{% url 'context_lijst' %}"
               data-turbo-frame="_top"
               data-turbo-frame="_top">Rollen</a>
        </li>
        <li>
            <a href="{% url 'rechtengroep_lijst' %}" data-turbo-frame="_top">Rechtengroepen</a>
        </li>
        <li>
            <a href="{% url 'standaard_externe_omschrijving_lijst' %}"
               data-turbo-frame="_top">Standaard teksten</a>
        </li>
        <li>
            <a href="{% url 'taaktype_categorie_lijst' %}" data-turbo-frame="_top">Taaktype categorieën</a>
        </li>
        <li>
            <a href="{% url 'release_note_lijst' %}" data-turbo-frame="_top">Release notes</a>
        </li>
    </ul>
    <h2>Andere Forzamor beheer {{ APP_ENV }} omgevingen</h2>
    <ul class="list--blocks-horizontal">
        {% for url in env_urls %}
            <li>
                <a href="{{ url.0 }}">{{ url.1 }}</a>
            </li>
        {% endfor %}
    </ul>
    </turbo-frame>
{% endblock body %}
