{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load get from melding_tags %}
{% load json_encode from json_tags %}
{% block title %}
    Melding afhandelreden {% if object %}aanpassen{% else %}aanmaken{% endif %} | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer">
        <div>
            <a href="{% url 'melding_afhandelreden_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                {% include "icons/arrow-short.svg" %}
                <span>Melding afhandelredenen</span>
            </a>
        </div>
        <h1 class="h4">Reden
        {% if object %}
            aanpassen
        {% else %}
            aanmaken
        {% endif %}
        </h1>
        <div class="grid-container grid-container--4-1">
            <div class="grid-item">
                <form action="." method="post" data-turbo="false" data-controller="beheer--melding-afhandelreden" data-beheer--melding-afhandelreden-standaard-externe-omschrijving-lijst-value="{{ standaard_externe_omschrijving_lijst|json_encode }}">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.reden|render_rotterdam_formulier }}</div>
                        <div class="form-control__with-helptext js-validation">{{ form.toelichting|render_rotterdam_formulier }}</div>
                    </fieldset>

                    {% if standaard_externe_omschrijving_lijst %}
                    <h4>Betrokken standaard externe omschrijvingen</h4>
                    <ul>
                    {% for standaard_externe_omschrijving in standaard_externe_omschrijving_lijst %}
                    <li>
                        {{ standaard_externe_omschrijving.titel }}<a href="{{ standaard_externe_omschrijving.aanpassen_url }}">(aanpassen)</a>
                    </li>
                    {% endfor %}
                    </ul>
                    {% endif %}

                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.specificatie_opties|render_rotterdam_formulier }}</div>
                    </fieldset>
                    {% with reden_aantal=form.reden.field.choices|length specificatie_opties_aantal=form.specificatie_opties.field.choices|length  %}
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'melding_afhandelreden_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            {% if specificatie_opties_aantal > 0 or reden_aantal > 0 and not object %}
                            <button type="submit" class="btn btn-action">
                                <span>{% if object %}Aanpassen{% else %}Aanmaken{% endif %}</span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
