{% extends "base.html" %}
{% load get from melding_tags %}
{% load rotterdam_formulier_html %}
{% load specificatie_naam from specificatie_tags %}
{% block title %}
    Melding afhandelredenen overzicht | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'beheer' %}" class="link--back" data-turbo-frame="_top">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                <span>Beheer</span>
            </a>
        </div>
        <div class="container__flex">
            <h1>Melding afhandelreden overzicht</h1>
            {% if object_list|length < STATUS_NIET_OPGELOST_REDENEN_CHOICES|length %}
            <a class="btn btn-action" href="{% url 'melding_afhandelreden_aanmaken' %}">
                <svg width="24"
                     height="24"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                </svg>
                Nieuwe afhandelreden
            </a>
            {% endif %}
        </div>
        <!-- <form>
            <div class="form-row">
                <label for="id_zoeken">Zoeken</label>
                <div>
                    <input type="text" id="id_zoeken" name="zoeken" class="form-control " data-action="row-search#search">
                </div>
            </div>
        </form> -->
        <table>
            <thead>
                <tr>
                    <th>Reden</th>
                    <th style="width: 25vw;">Toelichting</th>
                    <th>Specificatie opties</th>
                    <th>Aantal standaard berichten</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    {% with reden=STATUS_NIET_OPGELOST_REDENEN_TITEL|get:object.reden %}
                    <tr data-row-search-target="row">
                        <td data-row-search-target="searchable">{{ reden }}</td>
                        <td data-row-search-target="searchable">
                        {% if object.toelichting %}
                            {{ object.toelichting }}
                        {% else %}
                        -
                        {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for specificatie_url in object.specificatie_opties %}
                                    <li>
                                        {{ specificatie_url|specificatie_naam }}{% if not forloop.last %}{% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                        {{ object.standaard_externe_omschrijvingen_voor_melding_afhandelreden.count }}
                        </td>
                        <td>
                            <a href="{% url 'melding_afhandelreden_aanpassen' object.id %}" aria-label="Aanpassen">{% include "icons/edit2.svg" %}</a>
                        </td>
                        <td>
                            {% if object.standaard_externe_omschrijvingen_voor_melding_afhandelreden.count <= 0 %}
                            <a href="{% url 'melding_afhandelreden_verwijderen' object.id %}"
                               onclick="return confirm('Weet je zeker dat je deze melding afhandelreden wilt verwijderen?')"
                               aria-label="Verwijderen">{% include "icons/bin.svg" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </turbo-frame>
{% endblock body %}
