{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    Specificatie {% if object %}aanpassen{% else %}aanmaken{% endif %} | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer">
        <div>
            <a href="{% url 'specificatie_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                {% include "icons/arrow-short.svg" %}
                <span>Specificatie overzicht</span>
            </a>
        </div>
        {% if object %}
            <h1>Wijzig Specificatie '{{ object.naam }}'</h1>
        {% else %}
            <h1>Specificatie {% if object %}aanpassen{% else %}aanmaken{% endif %}</h1>
        {% endif %}
        <div class="grid-container grid-container--4-1">
            <div class="grid-item">
                <form action="." method="post" data-turbo="false">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.naam|render_rotterdam_formulier }}</div>
                    </fieldset>
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'specificatie_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            <button type="submit" class="btn btn-action">
                                <span>{% if object %}Aanpassen{% else %}Aanmaken{% endif %}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
