{% extends "dashboard/base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block content %}
    <div class="screen-xl">
        <section class="section--seperated--l">
            <h2>Afgehandelde meldingen</h2>
            <p>
                De informatie die verzameld is voor onderstaande grafieken, is samengesteld op basis van de afhandel datum van meldingen in de gekozen periode. Hier is dan ook informatie verzameld over meldingen die ver voor de gekozen periode gestart kunnen zijn.
            </p>
            <p>
                Een afgehandelde melding bestaat grofweg uit 4 fasen die elkaar afwisselen. Iedere fase bestaat weer uit 1 of meer statussen.
            </p>
            <div class="grid-container grid-container--4cols">
                <div class="grid-item">
                    <strong>Midoffice</strong>
                    <ul>
                        <li>Openstaande</li>
                        <li>Controle</li>
                    </ul>
                </div>
                <div class="grid-item">
                    <strong>Uitvoer</strong>
                    <ul>
                        <li>In behandeling</li>
                    </ul>
                </div>
                <div class="grid-item">
                    <strong>Wachten</strong>
                    <ul>
                        <li>Pauze</li>
                        <li>Wachten op melder</li>
                    </ul>
                </div>
                <div class="grid-item">
                    <strong>Afgehandeld</strong>
                    <ul>
                        <li>Geannuleerd</li>
                        <li>Afgehandeld</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section--seperated--l">
            <div class="grid-container grid-container--full"
                 data-controller="chart-utils">{{ DoorlooptijdenAfgehandeldeMeldingen.stacked_chart_tabs }}</div>
        </section>
        <section class="section--seperated--l">
            <div class="grid-container grid-container--full"
                 data-controller="chart-utils">
                {% include "charts/base_chart.html" with title="Doorlooptijden per status verandering" description="" period_title=title tabs=status_veranderingen_tabs data_type="duration" only %}
            </div>
        </section>
        {% if not wijk or not onderwerp %}
            <section class="section--seperated--l">
                <div>
                    <h2>Top 10 totaal gemiddelde doorlooptijden</h2>
                    <div class="grid-container grid-container--half">
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_onderwerpen }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_wijken }}</div>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if not onderwerp %}
            <section class="section--seperated--l">
                <div>
                    <h2>Top 10 gemiddelde doorlooptijden van alle onderwerp per fase</h2>
                    <div class="grid-container grid-container--4cols">
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_onderwerpen_midoffice }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_onderwerpen_uitvoer }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_onderwerpen_wachten }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_onderwerpen_afgehandeld }}</div>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if not wijk %}
            <section class="section--seperated--l">
                <div>
                    <h2>Top 10 gemiddelde doorlooptijden van alle wijken per fase</h2>
                    <div class="grid-container grid-container--4cols">
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_wijken_midoffice }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_wijken_uitvoer }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_wijken_wachten }}</div>
                        <div class="grid-item bgc-white">{{ DoorlooptijdenAfgehandeldeMeldingen.tabel_wijken_afgehandeld }}</div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
    <div class="screen-xl--notification">
        <p>Deze pagina is alleen te bekijken op een groter scherm.</p>
    </div>
    <div class="sidesheet sidesheet--dashboardfilter">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#toggleFilter">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#toggleFilter"></div>
        <div class="content">{% include "dashboard/form.html" %}</div>
    </div>
    <div class="sidesheet" data-sidesheet-target="sidesheet">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#closeSidesheet">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#closeSidesheet"></div>
        <div class="turboframe-container">
            <turbo-frame id="sidesheet" data-sidesheet-target="turboframe"></turbo-frame>
        </div>
    </div>
{% endblock content %}
