{% extends "dashboard/base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block content %}
    <div class="screen-xl">
        <section class="section--seperated--l">
            <div class="grid-container grid-container--full"
                 data-controller="chart-utils">
                {% include "charts/base_chart.html" with title="Taken aantal 2 of meer per melding" description="Toont taken die meer dan 1 keer zijn aangemaakt in afgehandelde meldingen. Het getal in de popup is het percentage van het totaal aantal meldingen waarin dit gebeurde. In deze grafiek zie je dan ook niet de gevallen waarbij een taak maar 1 keer voorkomt in een melding." period_title=title tabs=taaktype_aantallen_per_melding_tabs options=stacked_bars_options eenheid="%" only %}
            </div>
        </section>
    </div>
    <div class="screen-xl--notification">
        <p>Deze pagina is alleen te bekijken op een groter scherm.</p>
    </div>
    <div class="sidesheet sidesheet--dashboardfilter">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#toggleFilter">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#toggleFilter"></div>
        <div class="content">{% include "dashboard/form.html" %}</div>
    </div>
    <div class="sidesheet" data-sidesheet-target="sidesheet">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#closeSidesheet">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#closeSidesheet"></div>
        <div class="turboframe-container">
            <turbo-frame id="sidesheet" data-sidesheet-target="turboframe"></turbo-frame>
        </div>
    </div>
{% endblock content %}
