.alert {
    position: relative;
    padding: 1em 1em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    display: flex;
    font-size: 1em;

    svg {
        padding-right: $input-padding-x;
        margin-top: -6px;
    }

    p {
        margin: 0;
    }

    ul:not(.list-clean) {
        padding-left: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--info {
        background-color: rgba(23, 145, 212, 0.1);
        border-color: rgba(23, 145, 212, 0.25);

        a {
            color: inherit;
        }
    }

    &--warning {
        background-color: rgba(237, 181, 0, 0.1);
        border-color: rgba(237, 181, 0, 0.25);

        svg {
            margin-left: -4px;
        }
        a {
            color: inherit;
        }
    }
    &--confirmation {
        background-color: rgba(230, 243, 233, 1);
        border-color: rgba(172, 214, 183, 1);
        a {
            color: inherit;
        }
    }

    .container__actions & {
        margin-top: 1em;
    }
}

.has-page-navigation {
    .detail-content-wrapper > .alert {
        margin-right: 240px;
    }
}

.container__notification {
    width: 98%;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.07);
    z-index: 1000;
    background-color: $white;
    border-radius: 8px;
    opacity: 0;
    animation: slide-in-from-top 2 * $transition-duration-default ease-in-out forwards 0.5s;

    &--snack {
        max-width: 714px;
    }

    .notification {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding: 0.75em 2em 0.75em 0.75em;
        position: relative;

        .container__icon {
            min-width: 30px;
            position: relative;

            svg {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 0.5em;
            }
        }
        .container__content {
            .container__message {
                display: block;
                font-size: 0.8em;

                p,
                a {
                    flex: 1 1 auto;
                }
                a {
                    text-align: right;
                    white-space: nowrap;
                }
            }

            h3,
            p {
                margin: 0;
            }

            h3 {
                font-size: 1em;
                margin: 0;
            }
        }

        .btn-close--small {
            top: 0.5em;
            right: 0.5em;
        }

        &.warning {
            background-color: $yellow-200;
        }

        &.error {
            background-color: $red-200;
        }
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        top: 90px;
        .notification {
            .container__content {
                .container__message {
                    display: flex;
                    flex: 1 0 90%;
                    justify-content: space-between;
                }
            }
        }
    }
}
