.alert {
    position: relative;
    padding: 1em 1em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    display: flex;
    font-size: 0.875rem;

    > span {
        display: flex;
        align-items: center;
    }

    svg {
        padding-right: $input-padding-x;
    }

    p {
        margin: 0;
    }

    ul:not(.list-clean) {
        padding-left: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--info {
        background-color: rgba(23, 145, 212, 0.1);
        border-color: rgba(23, 145, 212, 0.25);

        a {
            color: inherit;
        }
    }

    &--warning {
        background-color: rgba(237, 181, 0, 0.1);
        border-color: rgba(237, 181, 0, 0.25);

        svg {
            margin-left: -4px;
        }
        a {
            color: inherit;
        }
    }
    &--confirmation {
        background-color: rgba(230, 243, 233, 1);
        border-color: rgba(172, 214, 183, 1);
        a {
            color: inherit;
        }
    }

    .container__actions & {
        margin-top: 1em;
    }
}

.has-page-navigation {
    .detail-content-wrapper > .alert {
        margin-right: 240px;
    }
}

.tag {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    position: relative;

    .container__taak & {
        border-radius: 15px;

        &--qualification {
            &::before {
                border-radius: 100%;
            }
        }

        &--opgelost {
            background-color: $green-200;

            &::before {
                background-color: $green-900;
            }
        }
    }

    h1 & {
        vertical-align: middle;
        transform: translateY(-0.2vw);

        &:first-of-type {
            margin-left: 6px;
        }
    }

    &--qualification {
        padding: 0.37rem 10px 0.37rem 22px;
        background-color: $blue-200;
        font-size: 0.778rem;
        font-weight: 400;

        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: $blue-900;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }

    &--spoed {
        padding-left: 0.75rem;
        background-color: $red-900;
        color: $white;
        font-weight: 700;

        &::before {
            display: none;
        }
    }

    &--in_behandeling {
        background-color: $green-200;

        &::before {
            background-color: $green-900;
        }
    }

    &--niet-opgelost {
        background-color: $red-300;

        &::before {
            background-color: $red-900;
        }
    }

    &--voltooid,
    &--opgelost,
    &--geannuleerd,
    &--niet-gevonden {
        background-color: $gray-200;

        &::before {
            background-color: $gray-800;
        }
    }

    &--controle {
        background-color: $purple-200;

        &::before {
            background-color: $purple-800;
        }
    }
}
