.alert {
    position: relative;
    padding: 1em 1em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    display: flex;
    font-size: 1em;

    svg {
        padding-right: $input-padding-x;
        margin-top: -6px;
    }

    p {
        margin: 0;
    }

    ul:not(.list-clean) {
        padding-left: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--info {
        background-color: rgba(23, 145, 212, 0.1);
        border-color: rgba(23, 145, 212, 0.25);

        a {
            color: inherit;
        }
    }

    &--warning {
        background-color: rgba(237, 181, 0, 0.1);
        border-color: rgba(237, 181, 0, 0.25);

        svg {
            margin-left: -4px;
        }
        a {
            color: inherit;
        }
    }
    &--confirmation {
        background-color: rgba(230, 243, 233, 1);
        border-color: rgba(172, 214, 183, 1);
        a {
            color: inherit;
        }
    }

    .container__actions & {
        margin-top: 1em;
    }
}

.has-page-navigation {
    .detail-content-wrapper > .alert {
        margin-right: 240px;
    }
}

.container__notification {
    width: 98%;
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    opacity: 0;
    animation: slide-in-from-top-centered 2 * $transition-duration-default $transition-ease-default
        forwards 0.5s;

    &--snack {
        max-width: 714px;
    }

    .list-notifications {
        @include list-clean;
        position: relative;
        pointer-events: none;
    }

    .notification {
        // display: none;
        height: 0;
        padding: 0.75em 2em 0.75em 0.75em;
        position: relative;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.07);
        margin-bottom: 1em;
        margin-top: -50px; // -134px; // TODO make dynamic
        pointer-events: all;
        transition-property: transform, opacity, margin-top;
        transition-duration: $transition-duration-default;
        transition-timing-function: $transition-ease-default;
        transition-delay: $transition-duration-default;
        overflow: hidden;
        opacity: 0;
        &:first-child {
            transform: none;
            margin-top: 0;
        }
        & + .notification {
            margin-top: -134px;
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}n) {
                z-index: #{$i * -10};
                transform: translateY(0) scale(#{1.02 - $i * 0.02});
            }
        }

        &.show,
        &.init {
            opacity: 1;
            height: auto;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            transition-property: transform, opacity, margin-top;
            transition-duration: $transition-duration-default;
            transition-timing-function: $transition-ease-default;

            &.hide {
                opacity: 0;
                transform: translateY(-20px) scale(1);
                // animation: fade-out-height 2 * $transition-duration-default $transition-ease-default forwards;
            }

            .container__icon {
                min-width: 30px;
                position: relative;

                svg {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 0.5em;
                }
            }
            .container__content {
                .container__message {
                    display: block;
                    font-size: 0.8em;

                    p,
                    a {
                        flex: 1 1 auto;
                    }
                    a {
                        text-align: right;
                        white-space: nowrap;
                    }
                }

                h3,
                p {
                    margin: 0;
                }

                h3 {
                    font-size: 1em;
                    margin: 0;
                }
            }

            .btn-close--small {
                top: 0.5em;
                right: 0.5em;
            }

            &.warning {
                background-color: $yellow-200;
            }

            &.error {
                background-color: $red-200;
            }
        }

        &.init {
            margin-top: 0;
            transform: translateY(0) scale(1);
            transition-property: transform, opacity, margin-top;
            transition-duration: $transition-duration-default;
            transition-timing-function: $transition-ease-default;
        }
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        top: 90px;
        .notification {
            &.show,
            &.init {
                .container__content {
                    .container__message {
                        display: flex;
                        flex: 1 0 90%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    &.showAll,
    &:hover {
        .notification {
            margin-top: 0;
            transform: translateY(0) scale(1);
        }
    }
}
