@keyframes fullwidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes fullleft {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: center top;
    }
    99% {
        opacity: 0.5;
        transform: scale(0, 0);
        transform-origin: center top;
    }
    100% {
        display: none;
    }
}
