canvas {
    background-color: $white;
    padding: $alert-padding-x;
    position: relative;
    z-index: 5;
    background: transparent;
}

.dashboard-item {
    background-color: $white;
    padding: $alert-padding-y;

    .container__flex {
        display: flex;
        justify-content: space-between;

        > div {
            flex: 0 1 auto;
        }
    }

    h3,
    h4 {
        margin: 0 0 0.2em;
    }

    h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin-top: 0;
        font-size: 0.6em;
    }

    .width--fixed {
        display: inline-block;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 0.7em;
        * {
            pointer-events: none;
        }
        span {
            display: block;
            text-align: left;
        }
        span:not(.h3) {
            font-size: 1.05em;
            padding-bottom: 0.25em;
        }
        .h3 {
            font-weight: 700;
        }

        &.active,
        &:hover,
        &:focus {
            outline: none !important;
            span.decorated {
                border-bottom: 2px solid $green-tint01;
            }
        }
    }

    .list-horizontal {
        li:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid $gray-tint06;
        }
    }

    .icon {
        margin: 0 0.25em 0 0;
    }

    &--number {
        .number {
            font-weight: 700;
            padding: 0.5em;
            background-color: $green-600;
            &--warning {
                background-color: $yellow-400;
            }
            &--danger {
                background-color: $red-400;
            }

            &--normal {
                background-color: $green-600;
            }
        }

        .dashboard-item-footer {
            margin-top: 1em;
            padding-top: 1em;
            border-top: 1px solid $gray-600;
        }
    }
}

.dashboard-item-footer {
    text-align: center;
    padding: 1em 0;
    p {
        margin: 0;
    }
    a {
        display: inline-block;
        color: $black;
    }
}

.container__chart--slider:not(:first-child) {
    border-top: 13px solid $gray-tint00;
}

.container__chart--slider {
    .container__bar {
        width: 100%;
        box-sizing: border-box;
        padding: 2em 0 1em;
        .bar-background {
            width: 100%;
            height: 11px;
            background-color: $blue-200;
            position: relative;
            margin-bottom: 0.5em;

            .bar {
                position: relative;
                height: 3px;
                border-top: 4px solid $green-tint04;
                border-bottom: 4px solid $green-tint04;
                position: absolute;
                background: $green-tint01;
                background: linear-gradient(
                    90deg,
                    rgba(0, 129, 31, 1) 15%,
                    rgba(255, 234, 0, 1) 43%,
                    rgba(255, 216, 45, 1) 57%,
                    rgba(210, 45, 31, 1) 85%
                );
                background-repeat: no-repeat;
                top: 0;
                left: 0;
                width: 100%;

                &--color-primary {
                }
                &--color-warning {
                    background-color: $warning;
                }
            }

            .slider,
            .label {
                position: absolute;
                right: 0;
            }
            .slider {
                top: -4px;
                width: 3px;
                border: 2px solid $white;
                background-color: $black;
                height: 15px;
                border-radius: 5px;
            }
            .label {
                top: -2em;
                transform: translateX(calc(50% - 4px));
                font-weight: 700;
                padding: 0.3em 0.5em;
                border-radius: 10px;
                background-color: $white;
            }
        }

        .container__slider {
            width: 100%;
            position: relative;
        }

        .container__flex {
            display: flex;
            justify-content: space-between;

            small {
                margin-top: 0;
                font-size: 0.6em;
                line-height: 1.25em;
            }

            .container__slider {
                flex: 1 0 auto;
            }
            .cover {
                width: 100%;
                height: 11px;
                background-color: $blue-200;
                flex: 0 1 auto;
                position: relative;
                z-index: 2;
            }
        }
    }
}

.container__table {
    padding: 0 0 $alert-padding-x;
    table.dashboard {
        font-size: 0.6em;
        tr {
            background-color: #fff;
        }
        thead {
            th {
                color: #5f646d;
                font-weight: 300;
                border: none;
            }
        }
        thead,
        tbody {
            th,
            td {
                text-align: right;

                &:first-child {
                    text-align: left;
                }
            }
        }

        .container__bar {
            width: 100%;
            .bar-background {
                width: 100%;
                border-bottom: 1px solid $green-tint01;
                .bar {
                    background-color: $green-tint01;
                    height: 2px;
                    width: 100%;
                    animation: fullwidth 1s ease-in-out forwards;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}

.lazy {
    &.container__table table.dashboard,
    &.container__chart--slider {
        .animated {
            visibility: hidden;
        }
        .container__bar {
            .container__slider {
                animation: none;
                width: 0;
            }
        }
    }
}
.lazy.in-viewport {
    &.container__table table.dashboard,
    &.container__chart--slider {
        .animated {
            visibility: visible;
        }
        .container__bar {
            .container__slider {
                width: 100%;
                animation: fullwidth 1.5s ease-in-out forwards;
                animation-iteration-count: 1;
            }
        }
    }
}
