details {
    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition:
            content-visibility $transition-duration-default allow-discrete,
            opacity $transition-duration-default,
            block-size $transition-duration-default;
    }
    &[open] {
        &::details-content {
            opacity: 1;
            block-size: auto;
        }
    }
    &.filter {
        &--active {
            background-color: $gray-tint01;
            border: 0;
            margin-bottom: $input-padding-x;

            ul {
                margin: 0;
            }
        }
    }

    summary {
        padding: 24px 16px 24px 40px;
        position: relative;
        cursor: pointer;
        border-top: 1px solid $gray-tint04;
        list-style: none;
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            content: url("../icons/arrow-right-v2.svg");
            position: absolute;
            top: calc(50% - 10px);
            left: 16px;
            scale: 1 1;
            transition: scale $transition-duration-default $transition-ease-default;
        }

        .cta--summary {
            opacity: 1;
            transition: opacity $transition-duration-default $transition-ease-default;
            text-decoration: underline;
        }
    }

    &[open] {
        > summary {
            &::before {
                scale: 1 -1;
                transform-origin: center;
            }

            .cta--summary {
                opacity: 0;
            }
        }
    }

    &:hover,
    &:focus {
        .cta--summary {
            text-decoration: none;
        }
    }

    &.details-form {
        margin-top: $alert-padding-y;
        font-size: 0.875rem;
        summary {
            padding-left: 25px;
            color: $green-tint01;
            text-decoration: $link-decoration;

            &::before {
                content: url("../icons/plus.svg");
                top: calc(50% - 12px);
                left: -5px;
            }
        }

        &[open] {
            > summary {
                display: none;
                &::before {
                    left: 0px;
                }
            }
        }
    }

    .list--form-check-input & {
        summary {
            padding: 12px 40px 12px 8px;
            margin-bottom: 0;
            &::before {
                top: 17px;
                left: calc(100% - 24px);
            }
        }

        &[open] {
            &::before {
                left: calc(100% - 24px);
            }
        }

        .list--form-check-input {
            padding-left: 12px;
        }
    }
}
