details {
    &.filter {
        &--active {
            background-color: $gray-tint01;
            border: 0;
            margin-bottom: $input-padding-x;

            ul {
                margin: 0;
            }
        }
    }

    summary {
        padding: 24px 16px 24px 40px;
        position: relative;
        cursor: pointer;
        border-top: 1px solid $gray-tint04;
        list-style: none;
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            content: url("../icons/arrow-right.svg");
            position: absolute;
            top: calc(50% - 10px);
            left: 16px;
            transform: rotate(90deg);
        }
    }

    &[open] {
        > summary {
            &::before {
                transform: rotate(-90deg);
                left: 19px;
            }
        }
    }

    &.details-form {
        margin-top: $alert-padding-y;
        summary {
            padding-left: 25px;
            color: $green-tint01;
            text-decoration: $link-decoration;

            &::before {
                content: url("../icons/plus.svg");
                top: calc(50% - 12px);
                left: -5px;
            }
        }

        &[open] {
            > summary {
                display: none;
                &::before {
                    left: 0px;
                }
            }
        }
    }

    .list--form-check-input & {
        summary {
            padding: 12px 40px 12px 8px;
            margin-bottom: 0;
            &::before {
                top: 17px;
                left: calc(100% - 24px);
            }
        }

        &[open] {
            &::before {
                left: calc(100% - 24px);
            }
        }

        .list--form-check-input {
            padding-left: 12px;
        }
    }
}
