.container__tools {
    margin-top: $alert-padding-y;

    .container__filter {
        > label {
            line-height: 3.2;
            margin-right: $alert-padding-x;
        }

        > div {
            flex: 0 1 20%;
            min-width: 250px;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            display: flex;
            flex: 1;
        }
    }

    > .btn {
        padding: 0 16px 0 10px;
        flex: 0;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        flex: 1;

        .toggle {
            width: auto;
        }
    }
}

.filter-header {
    h1 {
        margin: 0 16px 16px 0;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        justify-content: space-between;

        h1 {
            margin-bottom: 0;
        }
    }

    .container__flex {
        display: flex;
        align-items: baseline;
        flex: 1;
    }
}

.container__search {
    width: 100%;
    input {
        margin: 0;
        border: 1px solid $gray-tint04;
        padding-left: 36px;
        background: transparent
            url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOS41MDAxIDkuNzVDMTkuNTAwMSA2LjgyNSAxNy4xNzUxIDQuNSAxNC4yNTAxIDQuNUMxMS4zMjUxIDQuNSA5LjAwMDEgNi44MjUgOS4wMDAxIDkuNzVDOS4wMDAxIDEyLjY3NSAxMS4zMjUxIDE1IDE0LjI1MDEgMTVDMTcuMTc1MSAxNSAxOS41MDAxIDEyLjY3NSAxOS41MDAxIDkuNzVaTTcuNTAwMSA5Ljc1QzcuNTAwMSA2IDEwLjUwMDEgMyAxNC4yNTAxIDNDMTguMDAwMSAzIDIxLjAwMDEgNiAyMS4wMDAxIDkuNzVDMjEuMDAwMSAxMy41IDE4LjAwMDEgMTYuNSAxNC4yNTAxIDE2LjVDMTIuNjQ3NCAxNi41IDExLjE4MTggMTUuOTUyMSAxMC4wMjg3IDE1LjAzMThMNC4yNTc0MyAyMC44MDMxTDMuMTk2NzggMTkuNzQyNUw4Ljk2ODExIDEzLjk3MTFDOC4wNDc5NyAxMi44MTgxIDcuNTAwMSAxMS4zNTI1IDcuNTAwMSA5Ljc1WiIgZmlsbD0iIzQwNEI0RiIvPgo8L3N2Zz4K)
            no-repeat;
        background-position: 8px 50%;
        color: $gray-tint11;
        font-size: 16px;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC44OTQyIDE1Ljk1NUwxNS45NTQ4IDE0Ljg5NDNMOS4wNjA1MyA4TDE1Ljk1NDggMS4xMDU3MUwxNC44OTQyIDAuMDQ1MDUyNUw3Ljk5OTg3IDYuOTM5MzRMMS4xMDU1OCAwLjA0NTA1MTZMMC4wNDQ5MjM0IDEuMTA1NzFMNi45MzkyMSA4TDAuMDQ0OTIxOSAxNC44OTQzTDEuMTA1NTggMTUuOTU1TDcuOTk5ODcgOS4wNjA2NkwxNC44OTQyIDE1Ljk1NVoiIGZpbGw9IiM3QzhCOTAiLz4KPC9zdmc+Cg==)
                no-repeat 50% 50%;
            position: absolute;
            right: 6px;
            cursor: pointer;
        }
    }
    input::placeholder {
        font-size: inherit;
    }

    .help-block {
        padding: 2px 0 08px;
        font-size: 12px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        padding: 0 12px 0 0;
        width: 455px;
    }
}

.container__multiselect {
    position: relative;
    z-index: 10;

    .toggle {
        background-color: white;
        border: 1px solid $gray-tint04;
        outline: 0;
        padding: 12px $input-padding-x;
        font-size: 16px;
        width: 100%;
        margin-bottom: 12px;
        color: $gray-tint11;
        text-align: left;

        &.active {
            border-width: 2px;
            border-color: $gray-tint08;

            &:focus {
                border-color: $gray-tint11;
                outline-width: 0 !important;
            }
        }

        &:after {
            content: "";
            display: inline-block;
            background-image: url(../icons/dropdown.svg);
            background-size: 19px 26px;
            width: 16px;
            height: 19px;
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    .wrapper {
        flex: 1;
        position: absolute;
        top: calc(100% - 12px);
        left: 0;
        height: 0;
        min-width: 220px;
        overflow: hidden;
        background-color: #fff;
        display: none;
    }

    &.show {
        z-index: 100;
        .wrapper {
            height: 280px;
            border: 1px solid $gray-tint04;
            overflow-y: scroll;
            display: block;
        }
    }

    ul.list--form-check-input {
        @include list-clean;
        margin: 0;
        display: block;

        li {
            flex: 0;
            padding: $input-padding-x 0;
            margin: 0 $input-padding-x;
            border-bottom: 1px solid $gray-tint04;
            font-size: 16px;
            &:last-of-type {
                border: 0;
            }

            .form-check {
                margin: 0;
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        padding-right: 12px;

        .toggle {
            margin-bottom: 0;
        }
    }
}
