.container__tools {
    margin-top: $alert-padding-y;
    .h5 {
        font-size: 0.778rem;
        margin: 0.1rem 0 0;
        line-height: 24px;
    }
    .container__filter {
        transition: opacity $transition-duration-default $transition-ease-default;
        > label {
            line-height: 3.2;
            margin-right: $alert-padding-x;
        }

        > div {
            flex: 0 1 20%;
            min-width: 250px;
            max-height: 2.3em;
        }
        &.disabled {
            opacity: 0.2;

            * {
                pointer-events: none;
            }
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            display: flex;
            flex: 1;
            flex-wrap: wrap;

            > div {
                margin-bottom: 0.25em;
            }
        }
    }

    .container__search {
        input[type="search"] {
            margin-bottom: 0.25rem;
        }
        label {
            font-size: 0.778rem;
            display: inline;
            &:has(input) {
                margin-top: 0.25rem;
                font-weight: 400;
            }

            input {
                vertical-align: top;
                margin-right: 0.25rem;
            }
        }

        .container__toggle-profile {
            opacity: 1;
            transition: opacity $transition-duration-default $transition-ease-default;

            &.hidden {
                height: auto;
                opacity: 0;
                pointer-events: none;
            }
        }

        .container__info {
            position: absolute;
            right: 0;
            top: 0.35rem;
            font-size: 0.778rem;
            z-index: 20;

            .searchinfo-CTA {
                text-decoration: none;
                color: $black;
                svg {
                    width: 14px;
                    height: 14px;
                    vertical-align: top;
                    path {
                        fill: $black;
                    }
                }
            }

            .searchinfo-tooltip {
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: -0.5rem;
                top: 1.5rem;
                width: 200px;
                border: 1px solid $blue-200;
                background-color: $white;
                padding: 0.5rem;
                transition: opacity $transition-duration-default $transition-ease-default;
            }

            .searchinfo-CTA:hover + .searchinfo-tooltip,
            .searchinfo-CTA:focus + .searchinfo-tooltip {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    > .btn {
        padding: 0 16px 0 10px;
        flex: 0;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        flex: 1;
        margin-bottom: 2em;

        .toggle {
            width: auto;
        }
    }
}

.filter-header {
    font-size: 0.7em;
    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        justify-content: space-between;
    }
}

.container__multiselect {
    position: relative;
    z-index: 10;

    .toggle {
        background-color: white;
        border: 1px solid $gray-tint04;
        outline: 0;
        padding: 12px $input-padding-x;
        font-size: 0.875em;
        width: 100%;
        margin-bottom: 12px;
        color: $gray-tint11;
        text-align: left;

        &.active {
            border-width: 2px;
            border-color: $gray-tint08;

            &:focus {
                border-color: $gray-tint11;
                outline-width: 0 !important;
            }
        }

        &:after {
            content: "";
            display: inline-block;
            background-image: url(../icons/dropdown.svg);
            background-size: 19px 26px;
            width: 16px;
            height: 19px;
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    .wrapper {
        flex: 1;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        height: 0;
        min-width: 238px;
        overflow: hidden;
        background-color: #fff;
        display: none;
        padding: 4px;
    }

    &.show {
        z-index: 100;
        .wrapper {
            height: auto;
            border: 2px solid $gray-tint08;
            display: block;
        }
    }

    ul.list--form-check-input {
        @include list-clean;
        margin: 0;
        padding: 0 0 0 8px !important;
        display: block;

        li {
            flex: 0;
            padding: $input-padding-y 0;
            margin: 0;
            border-bottom: 1px solid $gray-tint04;
            font-size: 0.889em;

            .form-check {
                margin: 0;
            }
        }
    }

    div.list--form-check-input {
        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: block;
        }

        .container__details-list {
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;

            @media (min-width: 550px) {
                &.cols2,
                &.cols3,
                &.cols4 {
                    min-width: 520px;
                }
            }
            @media (min-width: 800px) {
                &.cols3,
                &.cols4 {
                    min-width: 775px;
                }
            }
            @media (min-width: 1140px) {
                &.cols4 {
                    min-width: 1100px;
                }
            }

            > details {
                flex: 0 0 24%;
                min-width: 250px;
                margin: 4px;
                font-size: 0.889em;

                &[open] {
                    summary,
                    ul {
                        background-color: $gray-tint02;
                    }
                }

                summary {
                    margin: 0;
                    border-top: 0;
                    border-bottom: 1px solid $gray-tint04;

                    .form-check-label {
                        pointer-events: none;
                    }
                }
            }
        }

        ul.list--form-check-input {
            &:last-child {
                li {
                    border: 0;
                }
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        padding-right: 12px;

        .toggle {
            margin-bottom: 0;
        }
    }
}
