.page__detail {
    padding: 0 0 5em;
    h1 {
        margin: 0;
        + span {
            font-size: 0.875em;
        }
    }

    .aside {
        position: relative;
        .btn {
            text-align: left;
            width: auto;
            display: inline-block;
            font-size: 0.875em;
            margin-right: 4px;

            &-textlink {
                text-decoration: $link-decoration;
                margin: 0 0 0 0.75em;
            }
        }

        .list__mutations {
            margin-top: 0;
        }
    }
}

.container__actions {
    text-align: right;
    position: relative;

    p {
        margin-bottom: 0.5rem;
        max-width: none;
    }
    p:not(:first-of-type) {
        margin-top: 0.5rem;
    }

    .alert {
        display: flex;
    }

    .btn {
        &:last-child {
            margin-right: 0;
        }
    }

    .btn-checkbox {
        svg {
            vertical-align: middle;
            margin-right: 0;
            transform: translateY(-3px);
        }
        input {
            vertical-align: top;
        }
    }

    .wrapper--actions {
        box-sizing: border-box;
    }

    .wrapper--actions {
        padding: 1em 0 0;
        margin-top: 10px;

        .container__uitklapper {
            width: 48px;
            height: 48px;
            display: inline-block;
            cursor: pointer;
            margin-right: 12px;
            position: relative;
            z-index: 20;

            > span {
                display: block;
                text-align: center;
                height: 100%;

                svg {
                    height: 100%;
                }

                &:hover {
                    background: $gray-200;
                }
            }
        }
        .legenda {
            padding: 4px;
            top: 40px;

            .btn {
                background: transparent;
                font-weight: 400;
                font-size: $fz-14;
                padding: 6px 8px;
                margin: 0;
                min-height: 0;
                width: 100%;

                &:hover {
                    background-color: $gray-100;
                }
            }

            ul {
                text-align: left;

                li {
                    margin-bottom: 0;
                }
            }

            &:popover-open {
                display: block;
                inset: auto;
            }
        }
    }
}

.container__header {
    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        justify-content: space-between;

        > .item {
            flex: 1 1 auto;
        }
    }
}
.stayfixed {
    background-color: $blue-100;
    padding-top: 15px;
    margin-top: -15px;
    width: 100%;
    transition: width $transition-duration-default $transition-ease-default;
    box-sizing: content-box;

    @media (min-width: map-get($grid-breakpoints, md)) {
        position: fixed;
        top: 0;
        padding-top: 90px;
        z-index: 25;
        justify-content: flex-end;
        background-color: $blue-100;
        width: calc(100% - 260px);
        transform: translateX(-12px);
        padding-left: 16px;
        max-width: calc(2000px - 1.5em);

        .wrapper--actions {
            width: 100%;
        }

        .nav--small & {
            width: calc(100% - 93px);
        }
    }
}

.container__details {
    > *:first-child {
        margin-top: 0;
    }
    h1,
    h4 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        color: $green-tint01;
        font-size: calc(1rem + 0.25vw);

        svg {
            margin-right: 8px;
        }
    }
    h3 {
        margin-bottom: 0.25rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-size: 1rem;
    }
    p {
        margin-top: 0;
        line-height: 175%;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    ul {
        flex: 1;
    }

    dl {
        font-size: $fz-14;
    }
    .divider {
        border-top: 1px solid #ccc;
        margin: 20px 0;
    }

    .locatie-container {
        flex: 1 1 auto;

        .list-clean:not(.has-padding) {
            margin-top: 0;
        }

        label {
            display: inline-block;
            margin-bottom: 0.5rem;
            font-size: 0.875rem;
        }
        input[type="checkbox"] {
            @include form-check-input();
            vertical-align: middle;
        }

        .container__uitklapper {
            z-index: 20;
        }
        .container__map {
            .wrapper__map {
                position: relative;
                z-index: 5;
            }

            button {
                z-index: 6;
            }
        }
    }

    summary {
        padding: 0 16px 0 40px;
        border-top: 0;
    }

    .has-background--white {
        position: relative;
    }

    .btn-icon {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: $fz-14;
        color: $black;
        width: auto;

        svg {
            width: 14px;
            height: 14px;
            margin-right: 0;
            vertical-align: bottom;
        }
    }
}

.container__meldingnavigatie {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    min-width: 182px;
    @media (min-width: map-get($grid-breakpoints, md)) {
        position: fixed;
        top: 28px;
        right: 140px;
    }

    span,
    a {
        flex: 1;
        display: inline-block;
    }

    span {
        white-space: nowrap;
        line-height: 36px;
        align-self: flex-start;
        flex: 0;
    }
    .container__buttons {
        width: 80px;
        position: relative;
        > turbo-frame {
            width: auto;
            position: absolute;
            left: 0;

            &:last-child {
                left: auto;
                right: 0;
            }
        }

        span.melding-navigatie {
            svg {
                path {
                    fill: $gray-400;
                }
            }
        }

        .melding-navigatie {
            display: inline-block;
            width: 36px;
            height: 36px;
            background-color: transparent;
            position: relative;

            svg {
                position: absolute;
                top: calc(50% - 10px);
                left: 7px;
                width: 20px;
                height: 20px;
                path {
                    fill: $gray-tint11;
                }
            }
        }
        a.melding-navigatie {
            &:hover,
            &:focus {
                background-color: $blue-200;
            }
        }
    }

    #melding_next_vorige .melding-navigatie {
        svg {
            transform: rotate(180deg);
        }
    }
}

.no-image {
    background-color: $gray-tint02;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 $container-padding-x;
}

.incident-meta-list {
    list-style-type: none;
    margin: 0;
    font-size: $fz-14;
    padding: 0 0.75rem 0.75rem;

    li {
        margin-bottom: 1rem;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.section--separated {
    .full-width {
        margin: 0 (-(map-get($container-margin, md)));
    }
}

.section--location {
    margin-bottom: 50px;
}

.incident__header {
    display: flex;
    justify-content: space-between;

    .icon {
        display: inline-block;
    }
}

.container__details--overview {
    box-sizing: content-box;
    // padding-top: 16px;
    .wrapper {
        background-color: $gray-tint02;
        padding: $input-padding-x;
        display: flex;
        font-size: 0.875em;

        dl {
            margin: 0;
            flex-basis: 40%;
        }
    }
    select {
        margin: 0 $container-padding-x 0 0;
    }
}

.container__uitklapper {
    position: relative;
    z-index: 2000;
    display: inline;
    vertical-align: middle;

    .locatie-container & {
        > span {
            margin-left: $input-padding-y;
            svg {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                path {
                    fill: $green-tint01;
                }
            }
        }
    }

    .legenda {
        position: absolute;
        top: 20px;
        left: -45px;
        background-color: $white;
        width: auto;
        white-space: nowrap;
        padding: $input-padding-x;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
        display: none;
        opacity: 0;
        font-size: $fz-14;
        transition-property: opacity, display;
        transition-duration: $transition-duration-default;
        transition-timing-function: $transition-ease-default;
        transition-behavior: allow-discrete;

        ul {
            margin: 0;
        }

        li:not(:last-child) {
            margin-bottom: $input-padding-y;
        }
    }

    .legenda-item {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #78b4ff;
        margin-right: $input-padding-y;
        vertical-align: bottom;

        &.openbaar {
            background-color: #00ad00;
        }
        &.ret {
            background-color: #ffff64;
        }
        &.kunst {
            background-color: #d700b0;
        }
        &.begraafplaats {
            background-color: #ffaeff;
        }
        &.aquisitie {
            background-color: #3c3cff;
        }
        &.vastgoed {
            background-color: #d36000;
        }
    }

    &:hover,
    &:focus,
    &:focus-within {
        .legenda {
            display: block;
            opacity: 1;
            @starting-style {
                opacity: 0;
            }
        }
    }
}
