.container__taken,
.container__status {
    font-size: $fz-14;
    .taken--header,
    .container__taak > summary {
        display: grid;
        grid-template-columns:
            minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
            minmax(0, 1fr);
        align-items: center;

        &.hide-last-column {
            grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
                    0,
                    1fr
                );
        }

        > div {
            padding: 0.5em;
        }
        > div:first-child {
            padding-left: 0;
        }

        > div:last-child {
            padding-right: 0;
        }
    }

    .container__taak > .container__taak--content:not(.container__taak--content_extra) {
        display: grid;
        grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 3fr);
    }

    .container__status--content {
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: $white;

        .container__content {
            flex: 1 1 18.75%;
            max-width: 43.75%;

            > * {
                max-width: 420px;
            }

            &.cols--2 {
                max-width: 25%;
            }

            &.cols--6 {
                min-width: 31.25%;
            }
        }

        button {
            position: absolute;
            right: 1rem;
            top: 0.75rem;
            transform: rotate(90deg);
            transition: transform $transition-duration-default $transition-ease-default;

            svg {
                path {
                    fill: $black;
                }
            }

            &:hover {
                background-color: transparent;
            }
        }

        &.has-overflow {
            cursor: pointer;
        }

        &.is-expanded {
            button {
                transform: rotate(-90deg);
            }
        }
    }

    .taken--header {
        font-weight: 700;
        font-size: $fz-14;
        padding: 0.75rem 1rem;

        > div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .container__taak {
        background-color: $white;
        margin-bottom: 0.25em;
        position: relative;

        summary {
            padding: 0.75rem 1rem;

            &::before {
                left: auto;
                right: 16px;
            }
        }

        .container__uitklapper {
            z-index: 10;
            > span {
                display: inline-block;
                padding: 0.25rem 2em 0.25rem 0.25rem;
            }

            .legenda {
                left: -15px;
                padding: 4px;
                button {
                    font-weight: 400;
                    background-color: transparent;
                    text-align: left;
                    padding: 6px 8px;
                    min-height: 0;
                    margin-bottom: 0;
                    svg {
                        vertical-align: sub;
                        margin-right: 5px;
                    }

                    &:hover,
                    &:focus {
                        background-color: $gray-100;
                    }
                }
            }

            &:hover {
                z-index: 20;
            }
        }

        .description {
            font-weight: 700;

            small {
                font-size: $fz-14;
                font-weight: 400;
                word-break: break-word;
            }

            .wrapper {
                display: flex;
                padding-right: 10px;

                button {
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity $transition-duration-default $transition-ease-default;
                }

                &:hover {
                    button {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            button {
                display: inline;
            }
        }
        .description p,
        .help-text {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $fz-14;
            margin-bottom: 0;
        }

        .description p {
            font-size: $fz-16;
        }

        &[open] {
            summary {
                border-bottom: 1px solid $blue-200;
            }
        }
    }

    .container__aanmaken {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.75rem 1rem;
        min-height: 3.45em;

        .help-text {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.875rem;
        }

        .btn {
            flex: 0 1 auto;
            width: auto;
            padding: 0 1em;
            margin-bottom: 0;
            background-color: $white;

            svg {
                vertical-align: bottom;
            }

            &:hover,
            &:focus {
                background-color: $gray-200;
            }
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            flex-direction: row;
            justify-content: center;

            .help-text {
                white-space: nowrap;
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .container__taak--content {
        padding: 0.75rem 1rem;
    }
    .container__content {
        padding: 1rem;
        background-color: $white;

        &:last-child {
            padding-right: 0;
        }

        p {
            word-break: break-word;
            line-height: 1.2;
        }

        h3 {
            font-size: $fz-14;
            color: $green-900;
            margin-bottom: 0.75rem;
        }

        .content {
            padding-right: 1rem;

            ul {
                margin-bottom: 0;
            }

            li {
                display: flex;
                align-items: flex-start;
                padding-bottom: 1rem;

                &:not(:first-child) {
                    border-top: 1px solid $blue-200;
                    padding-top: 1rem;
                }
            }
            .initials {
                flex: 0 0 auto;
                margin-right: 0.444rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height: normal;
            }

            .message {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4,
                p {
                    font-size: $fz-14;
                    margin-bottom: 0;
                    line-height: 1rem;
                    word-break: break-word;
                }

                h4 {
                    margin-bottom: 0.25rem;
                }
                .help-text {
                    white-space: normal;
                    font-size: $fz-14;
                }
            }
            small {
                color: $gray-600;
                font-size: $fz-12;
            }

            .container__thumbs {
                padding-top: 0;
                li {
                    &:not(:first-child) {
                        border-top: none;
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .container__content_extra {
        display: block;
        border-top: 1px solid $gray-200;
        padding: 0.75rem 1rem;

        dl {
            div {
                dt {
                    flex: 0 1 28.57%;
                }
                dd {
                    flex: 0 1 71.43%;
                }
            }
        }
    }

    &.has-taken {
        .container__aanmaken {
            background-color: transparent;
        }

        .help-text {
            display: none;
        }
    }

    .status--busy {
        position: relative;
        display: flex;
        .spinner {
            position: relative;
            svg {
                animation: spinner 2s linear infinite;
            }
        }

        &:has(.spinner:hover) {
            z-index: 910;
            span {
                opacity: 1;
            }
        }

        span {
            display: block;
            padding: 0.5rem;
            opacity: 0;
            position: absolute;
            top: 102%;
            left: 12px;
            transform: translateX(-50%);
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: 4px;
            pointer-events: none;
            white-space: nowrap;
            transition: opacity $transition-duration-default $transition-ease-default;
        }
    }

    .status--stopped {
        .spinner {
            display: none;
        }

        span {
            font-size: $fz-12;
        }
    }

    .isTouchDevice & {
        .container__taak {
            .description {
                .wrapper {
                    button {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }
}

.container__taken {
    .taken--header,
    .container__taak > summary {
        > div {
            padding: 0.5em;
        }
        > div:first-child {
            padding-left: 0;
        }

        > div:last-child {
            padding-right: 0;
        }
    }
}

.container__status {
    .container__content {
        h3 {
            color: inherit;
        }

        .content {
            display: flex;
        }

        .container__overflow {
            position: relative;
            max-height: none;
            width: auto;

            svg {
                right: 4px;
                bottom: 5px;
            }

            .content__overflow {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 8rem;
                transition: max-height $transition-duration-default $transition-ease-default;
            }
        }

        &:last-child {
            padding-right: 30px;
        }
    }
}
