.container__logboek {
    padding: 1rem;
    ul {
        margin-top: 0;
    }
    .group {
        h3 {
            font-size: 0.778rem;
            margin: 0;
            padding: 12px;
            border-bottom: 1px solid $blue-200;
        }

        h4 {
            font-size: 0.778rem;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }

        ul {
            margin: 1rem 0 0;
        }
        li {
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            margin-bottom: 1.5rem;
            padding-left: 0.5rem;

            svg {
                flex: 0 0 auto;
            }
        }

        .message {
            font-size: 0.778rem;
            p {
                margin: 0;

                & + p {
                    margin-top: 0.5rem;
                }
            }
            small {
                display: inline-block;
                padding-top: 0.25rem;
                color: $gray-600;
            }
        }
    }
}
