.container__logboek {
    interpolate-size: allow-keywords;
    padding: 1rem;
    ul {
        margin-top: 0;
    }
    .group {
        h3 {
            font-size: $fz-14;
            margin: 0;
            padding: 12px;
            border-bottom: 1px solid $blue-200;
        }

        h4 {
            font-size: $fz-14;
            font-weight: 400;
            padding: 0;
            margin: 0 0 0.25em;
        }

        ul {
            margin: 1rem 0 0;
        }
        li {
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            margin-bottom: 1.5rem;
            padding-left: 0.5rem;

            svg {
                flex: 0 0 auto;
            }
        }

        .message {
            font-size: $fz-14;

            .container__overflow {
                position: relative;
                overflow: hidden;
                display: block;
                -webkit-line-clamp: unset;
                max-height: none;
                margin-right: 1em;
                padding: 0 2em 0 0;

                .content__overflow {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    max-height: 6em;
                    -webkit-box-orient: vertical;

                    p {
                        margin-bottom: 0.25em;
                    }
                }

                &.has-overflow {
                    box-sizing: border-box;
                    svg {
                        display: block;
                        top: 0;
                    }
                }

                &.show {
                    border: none;
                    .content__overflow {
                        -webkit-line-clamp: unset;
                        max-height: 120em;
                    }
                    svg {
                        transform: rotate(-90deg);
                        right: 1em;
                    }
                }
            }
            p {
                margin: 0;
                word-break: break-word;

                & + p {
                    margin-top: 0.5rem;
                }
            }
            small {
                display: inline-block;
                padding-top: 0.25rem;
                color: $gray-600;
            }

            .container__thumbs {
                padding: 8px 0 0;
            }
        }
    }
}
