.list-nav--primary,
.list-nav--secondary {
    @include list-clean();
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.list-nav--secondary {
    margin: 0.6em 0;
    a {
        font-size: 0.6em;
    }
}

.container__nav--tertiary {
    width: 200px;
}

.list-nav--tertiary {
    @include list-clean();
    padding: 0;
    li {
        padding: 0.5em 0.7em;
        margin-bottom: 2px;

        &:not(:last-child) {
            border-bottom: 1px solid $blue-200;
        }
    }
    a {
        font-weight: 700;
        text-decoration: none;
        color: $black;
        font-size: 0.8em;
        padding: 0.5em 1em 0.5em 2em;
        display: block;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0em;
            path {
                fill: currentColor;
            }
        }

        &:hover,
        &:focus-visible {
            background-color: $blue-100;
            svg {
                path {
                    fill: $green-tint01;
                }
            }
        }
    }
}

.menu-bar {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 25;
    background-color: $blue-100;
    h1 {
        font-size: 1.2em;
        white-space: nowrap;
        padding-left: 0.9em;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .btn,
    .menu-toggle {
        color: $black;
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 10px 8px 10px 27px;
        font-size: 0.7em;
        min-height: 38px;
        box-sizing: border-box;
        position: relative;
        background-color: transparent;
        white-space: nowrap;
        border: 0;
        line-height: inherit;
        text-align: left;
        transition: background-color $transition-duration-default $transition-ease-default;
        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
            path {
                fill: $black;
            }
        }

        span {
            padding: 0;
        }
        > span {
            margin-left: 9px;
        }

        &:hover,
        &:focus-visible,
        &.active {
            background-color: $white;
            svg {
                path {
                    fill: $green-tint01;
                }
            }
        }
    }

    .btn {
        margin-bottom: 2px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 1rem auto 0;

        h1 {
            margin: 0;
        }
        svg {
            height: 28px;
            width: 141px;
            margin: 25px 0;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            flex-direction: row;
            justify-content: space-between;
            h1 {
                order: 1;
            }
            > a {
                order: 2;
            }
        }
    }

    .container__menu-toggle {
        border-bottom: 1px solid $green-400;
        border-top: 1px solid $green-400;

        .menu-toggle {
            border: none;
            width: 100%;
            text-align: left;
            padding: 14px 0 14px 39px;
            height: 45px;
            cursor: pointer;

            svg {
                left: 20px;
                transform: scaleX(-1) translateY(-50%);
                transition: transform $transition-duration-default $transition-ease-default;
            }
        }
    }

    .nav--wide {
        opacity: 1;
        display: inline-block;
        transition-property: opacity, display;
        transition-duration: $transition-duration-default;
        transition-timing-function: $transition-ease-default;
        transition-behavior: allow-discrete;
        // @starting-style {
        //     opacity: 0;
        // }
    }

    .container__logo {
        height: 1em;
        padding: 1em 0.6em 1em calc(8px + 0.6em);
        position: relative;
        .logo {
            // margin: 0 0 0 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity $transition-duration-default $transition-ease-default;

            &--large {
                opacity: 1;
                height: 28px;
                width: 141px;
            }
            &--small {
                opacity: 0;
                height: 16px;
                width: 81px;
            }
        }
    }

    .badge-count {
        transform: translate(0, -10%);
        transition: transform $transition-duration-default $transition-ease-default;
    }

    .nav--small & {
        .nav--wide {
            display: none;
            opacity: 0;
        }
        .logo--large {
            opacity: 0;
        }
        .logo--small {
            opacity: 1;
        }
        .btn {
            padding-left: 27px;
        }

        .menu-toggle {
            padding: 14px 0 14px 39px;
            svg {
                transform: scaleX(1) translateY(-50%);
            }
        }

        .badge-count {
            width: 12px;
            height: 12px;
            transform: translate(-15px, -6px);
            span {
                display: none;
            }
        }
    }
}
