.container__pagination {
    display: flex;
    justify-content: flex-end;

    .pagination {
        display: flex;

        li {
            flex: 0;
            margin: 0 2px;
        }
        button {
            border: 0;
            outline: none;
            height: 32px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 16px;
            cursor: pointer;

            svg {
                padding-left: 6px;
            }
            &:hover {
                background-color: #e0eee2;
                color: $green-tint01;
                svg {
                    path {
                        fill: $green-tint01;
                    }
                }
            }

            &.btn--next {
                path {
                    fill: $gray-tint11;
                }
            }
            &.btn--previous {
                svg {
                    transform: rotate(180deg);
                    fill: $gray-tint11;
                }
            }
        }
        span {
            color: $green-tint01;
        }
    }

    .wrapper-horizontal {
        ul {
            li {
                margin-right: 0;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                position: relative;

                label {
                    font-weight: 400;
                    font-size: 16px;
                    display: block;
                    width: 32px;
                    cursor: pointer;
                    padding-left: 0;

                    &:hover,
                    &:has(input:checked) {
                        border: 0;
                        box-shadow: none;
                        color: $green-tint01;
                        background-color: #e0eee2;
                    }
                }

                input {
                    width: 0 !important;
                    height: 0 !important;
                    position: absolute;
                    border: 0;
                    box-shadow: none;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.container__table + .container__pagination {
    margin-bottom: 3rem;
}
