header {
    .container__logo {
        flex: 1;
        > a {
            display: inline-block;
        }
        .logo {
            max-height: 40px;
            margin: 10px 0 0 10px;
            display: block;

            &--large {
                display: none;
            }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {
            .logo--large {
                display: flex;
            }
            .logo--small {
                display: none;
            }
        }

        .pagetitle {
            display: inline-block;
            margin: 0 16px;
            color: $green-tint01;
            vertical-align: super;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 1rem auto 0;

        h1 {
            margin: 0;
        }
        svg {
            height: 40px;
            width: 220px;
            margin: 10px 0 0 10px;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            flex-direction: row;
            justify-content: space-between;
            h1 {
                order: 1;
            }
            > a {
                order: 2;
            }
        }
    }
}
