.container__table {
    @media (max-width: map-get($grid-breakpoints, lg)) {
        overflow-x: scroll;
    }
}

.sorting {
    white-space: nowrap;

    label {
        cursor: pointer;
    }
    &::after {
        content: "";
        display: inline-block;
        background-image: url(../icons/dropdown.svg);
        background-size: 19px 26px;
        width: 16px;
        height: 19px;
    }

    &.sorting--up {
        &::after {
            background-image: url(../icons/arrow-long.svg);
            background-size: 16px 12px;
            width: 16px;
            height: 13px;
            transform: rotate(-90deg);
        }
    }

    &.sorting--down {
        &::after {
            background-image: url(../icons/arrow-long.svg);
            background-size: 16px 12px;
            width: 16px;
            height: 13px;
            transform: rotate(90deg);
        }
    }
    input {
        @extend .visually-hidden;
    }
}

.table--overview {
    margin: 10px 0 30px;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    thead {
        position: relative;
        z-index: 5;
    }

    .container__thumbnail {
        background-color: $gray-tint01;
        background-size: cover;
        background-position: 50% 50%;
        height: 36px;
        width: 36px;
        margin: 6px;

        .thumbnail {
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .background-image {
        background-color: $gray-tint01;
        background-image: url(../icons/noimage.svg);
        background-size: 70%;
        height: 36px;
        width: 36px;
        margin: 6px;
        background-repeat: no-repeat;
        background-position: center;
    }

    tbody tr {
        background-color: $white;

        td {
            border-bottom: 1px solid $green-400;

            &:nth-child(2) {
                font-weight: 700;
            }

            a {
                text-decoration: none;
            }
        }
        &:hover {
            cursor: pointer;
            background-color: $gray-tint01;
        }
    }

    th {
        position: sticky;
        top: 0;
        background: $white;
        border-bottom: 2px solid $gray-tint11;
        vertical-align: bottom;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .btn-textlink {
        display: flex;
        padding: 6px 0;

        svg {
            padding: 0 8px;
        }

        &:hover {
            background-color: $white;
        }
    }

    .warning-spoed {
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 6px;
        border: 1px solid rgba(237, 181, 0, 0.25);
        background-color: rgba(237, 181, 0, 0.1);
        box-sizing: border-box;
    }
}

.overview--validate {
    .checkmark {
        width: 20px;
        height: 20px;
        path {
            fill: $green-tint01;
        }
    }
    .close {
        path {
            fill: $red;
        }
    }
}

.table--sorter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    thead,
    tbody {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    tr {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    td,
    th {
        flex: 1 1 0px;
        width: 5%;
        overflow: hidden;
        word-wrap: break-word;
        // flex-grow: 1;
        // flex-shrink: 1;
        // flex-basis: 1;
    }
    th[data-sort-order="0"] [data-remove-sort-indicator] {
        display: none;
    }
    th:not([data-sort-order="0"]) [data-remove-sort-indicator] {
        display: inline;
    }
    th[data-sort-order="0"] [data-sort-direction-indicator]::after {
        display: none;
    }
    th[data-sort-direction="desc"]:not(th[data-sort-order="0"])
        [data-sort-direction-indicator]:after {
        display: inline;
        content: "\25B2";
    }
    th[data-sort-direction="asc"]:not(th[data-sort-order="0"])
        [data-sort-direction-indicator]:after {
        // display: block;
        display: inline;
        content: "\25BC";
    }
}
