.list-tabs {
    @include list-clean();
    margin: 0;
    padding: 0 $input-padding-y;
    background-color: $white;
    border-bottom: 1px solid $blue-200;

    li {
        display: inline;
    }
    .btn--tab {
        display: inline-block;
        width: auto;
        background-color: transparent;
        font-size: 0.875em;
        font-weight: normal;
        padding: 12px 4px;
        color: $gray-800;

        &.active {
            color: $green-900;
            font-weight: 700;
        }
    }
}

.container__tab-content {
    padding: 0 $input-padding-y;
    background-color: $blue-200;
    width: 100%;
    box-sizing: border-box;

    .tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
}
