{% extends "base.html" %}
{% block title %}
    Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block pageheader %}
    {% with hide_menu=True screen_wide=True page_title="PlanR" %}{{ block.super }}{% endwith %}
{% endblock pageheader %}
<main data-controller="main">
    <div class="{% block container_class %}container container--wide{% endblock container_class %}">
        {% block body %}
        {% endblock body %}
    </div>
</main>
