{% extends "dashboard/base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block body_class %}
{% endblock body_class %}
{% block content %}
    <div class="screen-xl">
        <section class="section--seperated--l">
            <div class="grid-container grid-container--full"
                 data-controller="chart-utils">{{ NieuweMeldingAantallen.tabs_grafiek_met_signalen }}</div>
        </section>
        <section class="section--seperated--l">
            <div class="grid-container grid-container--full"
                 data-controller="chart-utils">{{ NieuweMeldingAantallen.tabs_grafiek_nieuw_vs_afgehandeld }}</div>
        </section>
        {% if not onderwerp or not wijk %}
            <section class="section--seperated--l">
                <div>
                    <h2>Top tien</h2>
                    <div class="grid-container grid-container--3cols">
                        {% if not onderwerp %}{{ NieuweMeldingAantallen.tabel_aantal_meldingen_per_onderwerp }}{% endif %}
                        {% if not wijk %}{{ NieuweMeldingAantallen.tabel_aantal_meldingen_per_wijk }}{% endif %}
                        {% if not onderwerp %}{{ NieuweMeldingAantallen.tabel_verhouding_ontdubbeld_per_onderwerp }}{% endif %}
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
    <div class="screen-xl--notification">
        <p>Deze pagina is alleen te bekijken op een groter scherm.</p>
    </div>
    <div class="sidesheet sidesheet--dashboardfilter">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#toggleFilter">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#toggleFilter"></div>
        <div class="content">{% include "dashboard/form.html" %}</div>
    </div>
{% endblock content %}
