{% load mor_core_url from main_tags %}
{% load get_gebruiker_object_middels_email from gebruikers_tags %}
{% if omschrijving_intern and titel != omschrijving_intern %}<p>{{ omschrijving_intern }}</p>{% endif %}
{% with gebruiker_object=gebruiker|get_gebruiker_object_middels_email %}
<small>
    Om {{ tijd }} uur{% if gebruiker and perms.authorisatie.medewerker_gegevens_bekijken %} door <a href="" data-action="modal#openModal" data-modal-action-param="{% url 'gebruiker_info' gebruiker_email=gebruiker %}">{{ gebruiker_object.full_name }}</a>{% endif %}
</small>
{% endwith %}

{% if bijlagen|length > 0 %}
    <div class="container__thumbs">
        <ul>
            {% for bijlage in bijlagen %}
            <li>
                <div class="container__image">
                    <div class="image"
                        style="background-image:url('{{ bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
