{% load json_encode from json_tags %}
<div class="grid-item bgc-white"
     data-controller="chart-line"
     data-controller="chart-utils"
     {% if data_type %}data-chart-line-y-ticks-value='{{ data_type }}'{% endif %}
     {% if data_type %}data-chart-line-tooltip-label-callback-value='{{ data_type }}'{% endif %}
     {% if options %}data-chart-line-options-value='{{ options|json_encode }}'{% endif %}
     data-chart-line-data-value='{{ tabs.0|json_encode }}'>
    <div class="dashboard-item">
        <div class="container__flex">
            <div>
                <span class="h6">
                    {% include "icons/dashboard.svg" %}
                    {{ period_title }}
                </span>
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
            </div>
            <div>
                <ul class="list-horizontal">
                    {% for tab in tabs %}
                        <li>
                            <button data-chart-line-target="button"
                                    data-action="chart-line#update"
                                    data-chart-line-datasets-param="{{ tab.datasets|json_encode }}"
                                    class="{% if forloop.first %} active{% endif %}">
                                <span class="h3"
                                      {% if data_type %}data-chart-line-target="{{ data_type }}ToHuman"{% endif %}>{{ tab.aantal }}</span>
                                <span class="decorated">{{ tab.titel }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <canvas data-chart-line-target="canvas"></canvas>
        </div>
        <div class="dashboard-item-footer">
            <p>
                <a href="#">Toon deze meldingen</a>
            </p>
        </div>
    </div>
</div>
