{% load is_float_or_int seconds_to_human from date_tags %}
{% load json_encode from json_tags %}
<div class="dashboard-item">
    <div>
        <div class="container__flex">
            <span class="h6">
                {% include "icons/dashboard.svg" %}
                {{ period_title }}
            </span>
            <a data-controller="csv-download"
               data-csv-download-data-value='{{ body|json_encode }}'
               data-csv-download-title-value='{{ title|slugify }}_{{ period_title|slugify }}'
               href="#"
               aria-label="Download csv"
               title="Download csv"
               class="padding--left">{% include "icons/download.svg" %}</a>
        </div>
        <h4>{{ title }}</h4>
        <p>{{ description }}</p>
    </div>
    <div class="container__table lazy" data-controller="lazyload-table-bar">
        <table class="dashboard">
            <colgroup>
                {% for h in head_percentages %}
                    <col span="1" style="width: {{ h }}%;">
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    {% for h in head %}<th>{{ h }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in body %}
                    <tr>
                        {% for k, v in row.items %}
                            {% if k != "bar" %}
                                {% is_float_or_int v as v_is_float_or_int %}
                                <td {% if not forloop.first and v_is_float_or_int %}class="animated"{% endif %}>{{ v }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% if row.bar %}
                        <tr>
                            <td colspan="3">
                                <div class="container__bar">
                                    <div class="bar-background">
                                        <div class="bar bar--color-primary" style="max-width: {{ row.bar }}%;"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if toon_meldingen_link %}
        <div class="dashboard-item-footer">
            <p class="align--center">
                <a href="#">Toon meldingen met deze onderwerpen</a>
            </p>
        </div>
    {% endif %}
</div>
