{% extends "base.html" %}
{% load mor_core_url from main_tags %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Dashboard" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body_class %}
{% endblock body_class %}
{% block body %}
    <turbo-frame id="overview" data-controller="sidesheet">
    <div class="screen-xl">
        <section class="section--separated--l section--dashboard">
            <div class="container__flex flex--wide">
                <h2>Actueel</h2>
                <button type="button"
                        class="btn btn-info"
                        data-action="sidesheet#openSidesheet"
                        data-sidesheet-action-param="{% url 'sidesheet_actueel' %}">
                    {% include "icons/info-bullet.svg" %}
                    <span>Meer info</span>
                </button>
            </div>
            <div class="grid-container grid-container--half">
                <div class="grid-item bgc-white">
                    <div class="dashboard-item dashboard-item--number">
                        <div class="container__flex">
                            <div class="container__subject">
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                Alle openstaande meldingen</span>
                                <h3 class="h4">Openstaande meldingen</h3>
                                <p>Gemiddeld 1,1 taken per melding</p>
                            </div>
                            <div>
                                <div class="number number--danger">
                                    <span class="animated">1924</span>
                                </div>
                            </div>
                        </div>
                        <div class="container__flex dashboard-item-footer">
                            <div>
                                <p>
                                    <strong>98 meldingen</strong> meer dan 1 uur geleden
                                    {% include "icons/value-up.svg" %}
                                </p>
                            </div>
                            <div>
                                <p>
                                    <a href="#">Toon 1924 meldingen</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white"
                     data-controller="chart-bar"
                     data-chart-bar-type-value="bar"
                     data-chart-bar-data-value='{ "labels": ["8:00", "9:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00", "0:00", "1:00", "2:00", "3:00", "4:00", "5:00", "6:00", "7:00"], "datasets": [{ "label": "Binnengekomen", "data": [190, 320, 270, 330, 110, 340, 290, 190, 320, 270, 330, 110, 340, 290, 190, 320, 270, 330, 110, 340, 290, 190, 320, 120] }] }'>
                    <div class="dashboard-item dashboard-item--number">
                        <div class="container__subject">
                            <span class="h6">
                                {% include "icons/dashboard.svg" %}
                            Openstaande meldingen per uur</span>
                            <h3 class="h4">Afgelopen 24 uur</h3>
                        </div>
                        <div>
                            <canvas data-chart-bar-target="canvas" class="no-padding"></canvas>
                        </div>
                        <div class="container__flex">
                            <p>24 uur geleden</p>
                            <p>Nu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-container grid-container--3cols">
                <div class="grid-item bgc-white">
                    <div class="container__chart--slider lazy" data-controller="chart-slider">
                        <div class="dashboard-item">
                            <div>
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                Momenteel openstaand</span>
                                <h4>Nieuwe meldingen</h4>
                            </div>
                            <div class="container__bar border-bottom">
                                <div class="bar-background">
                                    <div class="bar"></div>
                                    <div class="container__flex">
                                        <div class="container__slider" style="max-width: 52.3%;">
                                            <div class="slider"></div>
                                            <div class="label">
                                                <span class="animated">523</span>
                                            </div>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                </div>
                                <div class="container__flex">
                                    <small>0</small>
                                    <small>1000</small>
                                </div>
                            </div>
                            <div class="dashboard-item-footer">
                                <p class="align--center">
                                    <a href="#">Toon 523 meldingen</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="container__chart--slider lazy" data-controller="chart-slider">
                        <div class="dashboard-item">
                            <div>
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                Verwerkte meldingen</span>
                                <h4>Meldingen in behandeling</h4>
                            </div>
                            <div class="container__bar border-bottom">
                                <div class="bar-background">
                                    <div class="bar"></div>
                                    <div class="container__flex">
                                        <div class="container__slider" style="max-width: 42.1%;">
                                            <div class="slider"></div>
                                            <div class="label">
                                                <span class="animated">421</span>
                                            </div>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                </div>
                                <div class="container__flex">
                                    <small>0</small>
                                    <small>1000</small>
                                </div>
                            </div>
                            <div class="dashboard-item-footer">
                                <p class="align--center">
                                    <a href="#">Toon 421 meldingen</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="dashboard-item dashboard-item--number">
                        <div class="container__flex">
                            <div class="container__subject">
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                Vertraging</span>
                                <h3 class="h4">Vertraagde taken</h3>
                                <p>
                                    Gemiddelde vertraging: <strong>4,5 uur</strong>
                                </p>
                            </div>
                            <div>
                                <div class="number">
                                    <span class="animated">37</span>
                                </div>
                            </div>
                        </div>
                        <div class="container__flex dashboard-item-footer">
                            <div>
                                <p>
                                    <strong>5%</strong> van taken in behandeling
                                </p>
                            </div>
                            <div>
                                <p>
                                    <a href="#">Toon 37 meldingen</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--separated--l section--dashboard">
            <div class="container__flex flex--wide">
                <h2>Aantallen</h2>
                <button type="button"
                        class="btn btn-info"
                        data-action="sidesheet#openSidesheet"
                        data-sidesheet-action-param="{% url 'sidesheet_actueel' %}">
                    {% include "icons/info-bullet.svg" %}
                    <span>Meer info</span>
                </button>
            </div>
            <div class="grid-container" data-controller="chart-utils">
                <div class="grid-item bgc-white"
                     data-controller="chart-line"
                     data-chart-line-data-value='{ "labels": ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"], "datasets": [{ "label": "Binnengekomen", "borderColor": "#00811F", "fill":true, "backgroundColor": "rgba(0,200,100,0.05)", "data": [190, 320, 270, 330, 110, 340, 290] }] }'>
                    <div class="dashboard-item">
                        <div class="container__flex">
                            <div>
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                Afgelopen 7 dagen</span>
                                <h4>Meldingen</h4>
                            </div>
                            <div>
                                <ul class="list-horizontal">
                                    <li>
                                        <button data-chart-line-target="button"
                                                data-action="chart-line#update"
                                                data-chart-line-datasets-param='[{"fill":true, "backgroundColor":"rgba(0,200,100,0.1)", "barPercentage":"0.2", "borderColor":"#00811F", "data":[190, 320, 270, 330, 110, 340, 290]}]'
                                                class="active">
                                            <span class="h3">
                                                <span data-chart-utils-target="numberAnimator"
                                                      data-number="2103"
                                                      class="width--fixed"></span>
                                            </span>
                                            <span class="decorated">Binnengekomen</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-chart-line-target="button"
                                                data-action="chart-line#update"
                                                data-chart-line-datasets-param='[{"fill":true, "backgroundColor":"rgba(0,200,100,0.1)", "barPercentage":"0.2", "borderColor":"#00811F", "data":[90, 120, 170, 220, 270, 320, 390]}]'>
                                            <span class="h3">
                                                <span data-chart-utils-target="numberAnimator"
                                                      data-number="209"
                                                      class="width--fixed"></span>
                                            </span>
                                            <span class="decorated">In behandeling</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-action="chart-line#update"
                                                data-chart-line-target="button"
                                                data-chart-line-datasets-param='[{"fill":true, "backgroundColor":"rgba(0,200,100,0.1)", "barPercentage":"0.2", "borderColor":"#00811F", "data":[390, 320, 270, 220, 170, 120, 90]}]'>
                                            <span class="h3">
                                                <span data-chart-utils-target="numberAnimator"
                                                      data-number="1881"
                                                      class="width--fixed"></span>
                                            </span>
                                            <span class="decorated">Afgehandeld</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-chart-line-target="button"
                                                data-action="chart-line#update"
                                                data-chart-line-datasets-param='[{"fill":true, "backgroundColor":"rgba(0,200,100,0.1)", "barPercentage":"0.2", "borderColor":"#00811F", "data":[0, 100, 250, 400, 250, 100, 0]}]'>
                                            <span class="h3">
                                                <span data-chart-utils-target="numberAnimator"
                                                      data-number="13"
                                                      class="width--fixed"></span>
                                            </span>
                                            <span class="decorated">Niet afgehandeld</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <canvas data-chart-line-target="canvas"></canvas>
                        </div>
                        <div class="dashboard-item-footer">
                            <p class="align--center">
                                <a href="#">Toon deze meldingen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="container__chart--slider lazy" data-controller="chart-slider">
                        <div class="dashboard-item">
                            <div>
                                <div>
                                    <span class="h6">
                                        {% include "icons/dashboard.svg" %}
                                    Afhandelingsgraad</span>
                                    <h4>
                                        <span class="animated">89</span>% opgelost
                                    </h4>
                                    <p>Percentage meldingen in behandeling, ten opzichte van de binnengekomen meldingen.</p>
                                </div>
                            </div>
                            <div class="container__bar">
                                <div class="bar-background">
                                    <div class="bar"></div>
                                    <div class="container__flex">
                                        <div class="container__slider" style="max-width: 89%;">
                                            <div class="slider"></div>
                                            <div class="label">
                                                <span class="animated">89</span>
                                            </div>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                </div>
                                <div class="container__flex">
                                    <small>0%</small>
                                    <small>100%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container__chart--slider lazy" data-controller="chart-slider">
                        <div class="dashboard-item">
                            <div>
                                <div>
                                    <h4>
                                        <span class="animated">11</span>% in behandeling
                                    </h4>
                                    <p>Percentage afgehandelde meldingen, ten opzichte van de binnengekomen meldingen.</p>
                                </div>
                            </div>
                            <div class="container__bar">
                                <div class="bar-background">
                                    <div class="bar"></div>
                                    <div class="container__flex">
                                        <div class="container__slider" style="max-width: 11%;">
                                            <div class="slider"></div>
                                            <div class="label">
                                                <span class="animated">11</span>
                                            </div>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                </div>
                                <div class="container__flex">
                                    <small>0%</small>
                                    <small>100%</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--separated--l section--dashboard">
            <div class="container__flex flex--wide">
                <h2>Locatie</h2>
                <button type="button"
                        class="btn btn-info"
                        data-action="sidesheet#openSidesheet"
                        data-sidesheet-action-param="{% url 'sidesheet_actueel' %}">
                    {% include "icons/info-bullet.svg" %}
                    <span>Meer info</span>
                </button>
            </div>
            <div class="grid-container grid-container--reversed">
                <div class="grid-item bgc-white">
                    <div class="dashboard-item">
                        <span class="h6">
                            {% include "icons/dashboard.svg" %}
                        Wijken</span>
                        <h4>Wijken met de meeste meldingen</h4>
                        <div class="container__table lazy" data-controller="lazyload-table-bar">
                            <table class="dashboard">
                                <colgroup>
                                    <col span="1" style="width: 65%;">
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Wijk</th>
                                        <th>Aantal</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Agniesebuurt</td>
                                        <td>
                                            <span class="animated">798</span>
                                        </td>
                                        <td>
                                            <span class="animated">38</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 38%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Provenierswijk</td>
                                        <td>
                                            <span class="animated">461</span>
                                        </td>
                                        <td>
                                            <span class="animated">22</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 22%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bergpolder</td>
                                        <td>
                                            <span class="animated">357</span>
                                        </td>
                                        <td>
                                            <span class="animated">17</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 17%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Blijdorp</td>
                                        <td>
                                            <span class="animated">294</span>
                                        </td>
                                        <td>
                                            <span class="animated">14</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 14%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Liskwartier</td>
                                        <td>
                                            <span class="animated">189</span>
                                        </td>
                                        <td>
                                            <span class="animated">9</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 9%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dashboard-item-footer">
                            <p class="align--center">
                                <a href="#">Toon meldingen uit deze wijken</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="dashboard-item">
                        <div>
                            <span class="h6">
                                {% include "icons/dashboard.svg" %}
                            Kaart</span>
                            <h4>Meldingen op de kaart</h4>
                        </div>
                        <div data-controller="dashboardMap">
                            <div class="container__map full-width">
                                <div data-dashboardMap-target="map"
                                     class="map leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
                                     style="background-color: unset;
                                            border: none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--separated--l section--dashboard">
            <div class="container__flex flex--wide">
                <h2>Top tien</h2>
                <button type="button"
                        class="btn btn-info"
                        data-action="sidesheet#openSidesheet"
                        data-sidesheet-action-param="{% url 'sidesheet_actueel' %}">
                    {% include "icons/info-bullet.svg" %}
                    <span>Meer info</span>
                </button>
            </div>
            <div class="grid-container grid-container--3cols">
                <div class="grid-item bgc-white">
                    <div class="dashboard-item">
                        <div>
                            <span class="h6">
                                {% include "icons/dashboard.svg" %}
                            Tabel met aantallen en percentages</span>
                            <h4>Percentage geanimeerd</h4>
                        </div>
                        <div class="container__table lazy" data-controller="lazyload-table-bar">
                            <table class="dashboard">
                                <colgroup>
                                    <col span="1" style="width: 65%;">
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Onderwerp</th>
                                        <th>Aantal</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Afval naast container</td>
                                        <td>
                                            <span class="animated">798</span>
                                        </td>
                                        <td>
                                            <span class="animated">38</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 38%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Grofvuil</td>
                                        <td>
                                            <span class="animated">461</span>
                                        </td>
                                        <td>
                                            <span class="animated">22</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 22%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Zwerfafval</td>
                                        <td>
                                            <span class="animated">357</span>
                                        </td>
                                        <td>
                                            <span class="animated">17</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 17%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wijkcontainer</td>
                                        <td>
                                            <span class="animated">294</span>
                                        </td>
                                        <td>
                                            <span class="animated">14</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 14%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Overige onderwerpen</td>
                                        <td>
                                            <span class="animated">189</span>
                                        </td>
                                        <td>
                                            <span class="animated">9</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 9%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dashboard-item-footer">
                            <p class="align--center">
                                <a href="#">Toon meldingen met deze onderwerpen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="dashboard-item">
                        <span class="h6">
                            {% include "icons/dashboard.svg" %}
                        Tabel met aantallen</span>
                        <h4>Eenvoudige tabel met harde aantallen</h4>
                        <div class="container__table">
                            <table class="dashboard">
                                <colgroup>
                                    <col span="1" style="width: 80%;">
                                    <col span="1" style="width: 20%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="visually-hidden">Onderwerp</th>
                                        <th class="visually-hidden">Aantal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-bottom">
                                        <td>Grofvuil ophalen</td>
                                        <td>500</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>Kantvissen</td>
                                        <td>400</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>Cementspoor op verharding verwijderen</td>
                                        <td>300</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>Menselijke vloeistoffen verwijderen</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Afvalcontainer legen</td>
                                        <td>100</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dashboard-item-footer">
                            <p class="align--center">
                                <a href="#">Toon meldingen met deze onderwerpen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <div class="dashboard-item">
                        <div>
                            <span class="h6">
                                {% include "icons/dashboard.svg" %}
                            Afgehandelde onderwerpen</span>
                            <h4>Meest afgehandelde onderwerpen</h4>
                        </div>
                        <div class="container__table lazy" data-controller="lazyload-table-bar">
                            <table class="dashboard">
                                <colgroup>
                                    <col span="1" style="width: 65%;">
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Onderwerp</th>
                                        <th>Aantal</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Afval naast container</td>
                                        <td>
                                            <span class="animated">798</span>
                                        </td>
                                        <td>
                                            <span class="animated">38</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 38%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Grofvuil</td>
                                        <td>
                                            <span class="animated">461</span>
                                        </td>
                                        <td>
                                            <span class="animated">22</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 22%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Zwerfafval</td>
                                        <td>
                                            <span class="animated">357</span>
                                        </td>
                                        <td>
                                            <span class="animated">17</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 17%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wijkcontainer</td>
                                        <td>
                                            <span class="animated">294</span>
                                        </td>
                                        <td>
                                            <span class="animated">14</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 14%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Overige onderwerpen</td>
                                        <td>
                                            <span class="animated">189</span>
                                        </td>
                                        <td>
                                            <span class="animated">9</span>%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="container__bar">
                                                <div class="bar-background">
                                                    <div class="bar bar--color-primary" style="max-width: 9%;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dashboard-item-footer">
                            <p class="align--center">
                                <a href="#">Toon meldingen met deze onderwerpen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="screen-xl--notification">
        <p>Deze pagina is alleen te bekijken op een groter scherm.</p>
    </div>
    <div class="sidesheet" data-sidesheet-target="sidesheet">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="sidesheet#closeSidesheet">{% include "icons/close.svg" %}</button>
        <div class="sidesheet-backdrop sidesheet-exit"
             data-action="click->sidesheet#closeSidesheet"></div>
        <div class="turboframe-container">
            <turbo-frame id="sidesheet" data-sidesheet-target="turboframe"></turbo-frame>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
