{% extends "snippets/turbo_stream_wrapper.html" %}
{% load melding_taken from melding_tags %}
<!-- djlint:off -->
{% block action %}update{% endblock action %}
{% block target %}melding_detail_acties{% endblock target %}
<!-- djlint:on -->
{% block content %}
<div class="wrapper--actions">
    <div class="container__uitklapper">
        <span data-testid="melding_handelingen_uitklapper">{% include "icons/dots.svg" %}</span>
        <div class="legenda">
            {% melding_taken melding as taak_info %}
                <ul class="list-clean">
                    <li>
                        <button type="button"
                            class="btn btn-icon"
                            data-action="infosheet#openInfosheet"
                            data-infosheet-action-param="{% url 'logboek' melding.uuid %}"
                        >
                            {% include "icons/clock_ccw.svg" %}
                            Toon logboek
                        </button>
                    </li>
                    <li>
                        {% if perms.authorisatie.melding_pauzeren and melding.status.naam != "pauze" and melding.status.naam != "wachten_melder" and melding.status.naam != 'afgehandeld'  %}
                            <button type="button"
                                    class="btn btn-icon"
                                    data-action="modal#openModal"
                                    data-modal-action-param="{% url 'melding_pauzeren' melding.uuid %}">
                                    {% include "icons/pause_circle.svg" %}
                                Melding pauzeren
                            </button>
                        {% endif %}
                    </li>
                    <li>
                        {% if perms.authorisatie.melding_spoed_veranderen and melding.status.naam != 'afgehandeld' and melding.status.naam != 'geannuleerd' %}
                            <button type="button"
                                    class="btn btn-icon"
                                    data-action="modal#openModal"
                                    data-modal-action-param="{% url 'melding_spoed_veranderen' melding.uuid %}">
                                    {% include "icons/warning_triangle.svg" %}
                                {% if melding.urgentie >= 0.5 %}Spoedstatus verwijderen{% else %}Spoedstatus toevoegen{% endif %}
                            </button>
                        {% endif %}
                    </li>
                    <li>
                        {% if perms.authorisatie.melding_annuleren and melding.status.naam != "pauze" and melding.status.naam != "wachten_melder" %}
                            <button type="button"
                                    class="btn btn-icon"
                                    data-action="modal#openModal"
                                    data-modal-action-param="{% url 'melding_annuleren' melding.uuid %}">
                                    {% include "icons/bin.svg" %}
                                Melding annuleren
                            </button>
                        {% endif %}
                    </li>
                </ul>
        </div>
    </div>
    {% if perms.authorisatie.melding_hervatten and melding.status.naam == "pauze" or melding.status.naam == "wachten_melder" %}
        <button type="button"
                class="btn btn-tertiary"
                data-action="modal#openModal"
                data-modal-action-param="{% url 'melding_hervatten' melding.uuid %}">
            <span>Melding hervatten</span>
        </button>
    {% endif %}
    {% if perms.authorisatie.melding_afhandelen and not melding.afgesloten_op %}
        <button type="button"
                class="btn btn-tertiary"
                data-action="modal#openModal"
                data-modal-action-param="{% url 'melding_afhandelen' melding.uuid %}">
            <span>Melding afhandelen</span>
        </button>
    {% endif %}
    {% comment %} and (melding.status.naam == "afgehandeld" or melding.status.naam != "geannuleerd") {% endcomment %}
    {% if perms.authorisatie.melding_heropenen and melding.afgesloten_op %}
        <button type="button"
                class="btn btn-tertiary"
                data-action="modal#openModal"
                data-modal-action-param="{% url 'melding_heropenen' melding.uuid %}">
            <span>Melding heropenen</span>
        </button>
    {% endif %}
</div>
{% endblock content %}
