<div>
    <label for="egd_id">
        <input id="egd_id"
               type="checkbox"
               data-detail-map-layer-types-param='["EGD"]'
               data-action="detail#onMapLayerChange">
        Toon EGD-kaartlaag
    </label>
    <div class="container__uitklapper">
        <span>{% include "icons/info.svg" %}</span>
        <div class="legenda">
            <ul class="list-clean">
                <li>
                    <span class="legenda-item openbaar"></span>
                    <span>Openbaar</span>
                </li>
                <li>
                    <span class="legenda-item ret"></span>
                    <span>RET</span>
                </li>
                <li>
                    <span class="legenda-item kunst"></span>
                    <span>Civiele kunstwerken</span>
                </li>
                <li>
                    <span class="legenda-item begraafplaats"></span>
                    <span>Begraafplaatsen</span>
                </li>
                <li>
                    <span class="legenda-item aquisitie"></span>
                    <span>Aquisitie</span>
                </li>
                <li>
                    <span class="legenda-item vastgoed"></span>
                    <span>Vastgoed</span>
                </li>
                <li>
                    <span class="legenda-item"></span>
                    <span>Overig</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container__map">
    <div data-detail-target="kaartDefault">
        <div class="map"
             id="incidentMap"
             data-action="touchstart->detail#onTwoFingerDrag touchend->detail#onTwoFingerDrag">
            <div class="map__overlay">
                <span>Gebruik twee vingers om de kaart te verplaatsen</span>
            </div>
        </div>
    </div>
    <button data-action="click->modal#openModal" class="btn btn-textlink" data-modal-content-param='
        {% include "melding/detail/kaart_modal_content.html" %}
        ' data-modal-css-class-param="modal-dialog--full" data-modal-show-map-param="true" aria-label="Vergroot de kaart">
        {% include "icons/expand.svg" %}
    </button>
</div>
