<div>
    <dl class="{% if melding.locaties_voor_melding|length == 1 %}has-padding{% endif %}">
        <div>
            <dt>Ter hoogte van</dt>
            <dd>
                {% if locatie.straatnaam %}
                    {{ locatie.straatnaam }}
                {% else %}
                    onbekend
                {% endif %}
                {% if locatie.huisnummer %}
                    {% spaceless %}
                        <span>{{ locatie.huisnummer }}</span>
                        {% if locatie.huisletter %}<span>{{ locatie.huisletter }}</span>{% endif %}
                    {% endspaceless %}
                    {% if locatie.toevoeging %}<span>{{ locatie.toevoeging }}</span>{% endif %}
                {% endif %}
            </dd>
        </div>
        <div>
            <dt>Wijk</dt>
            <dd>
                {% if locatie.wijknaam %}
                    {{ locatie.wijknaam }}
                {% else %}
                    onbekend
                {% endif %}
            </dd>
        </div>
        <div>
            <dt>Buurt</dt>
            <dd>
                {% if locatie.buurtnaam %}
                    {{ locatie.buurtnaam }}
                {% else %}
                    onbekend
                {% endif %}
            </dd>
        </div>
    </dl>
</div>
