{% if locaties %}
    <h4>Lichtmasten({{ locaties|length }})</h4>
    <ul>
        {% for locatie in locaties %}
            <li>
                <div class="display--flex--md">
                    <details>
                        <summary>
                            <h5>Lichtmast nummer: {{ locatie.lichtmast_id }}</h5>
                        </summary>
                        <turbo-frame loading="lazy" src="{% url 'lichtmast' locatie.lichtmast_id %}" id="lichtmast_{{ locatie.lichtmast_id }}">
                        </turbo-frame>
                    </details>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
