{% extends "base.html" %}
{% load qs_ordenen heeft_orden_oplopend vind_in_dict qs_offset from querystring_tags %}
{% load vertaal from vertaal_tags %}
{% load render_th_tags from melding_tags %}
{% load render_td_tags from melding_tags %}
{% load get_bijlagen from melding_tags %}
{% load mor_core_url from main_tags %}
{% load rotterdam_formulier_html %}
{% block title %}
    Meldingen overzicht | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Meldingen" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="overview">
    <div data-controller="overview">
        <form method="post"
              action="{% url 'melding_lijst' %}"
              id="filterForm"
              data-controller="filter"
              data-turbo-action="advance">
            {% csrf_token %}
            {{ form.limit }}
            {{ form.foldout_states }}
            <div class="filter-header">
                <span>
                    {% if form.limit.value|add:0 <= data.count %}
                        {{ form.pagina_eerste_melding }} - {{ form.pagina_laatste_melding }} van {{ data.count }} resultaten
                    {% else %}
                        {{ data.count }} resultaten
                    {% endif %}
                </span>
            </div>
            <div class="container__tools">
                <div class="container__filter-actions">
                    <button type="button"
                            class="btn btn-filter"
                            data-action="filter#showFilters">
                        {% include "icons/filter.svg" %}
                        <span>Filters</span>
                        <span class="count count--filter"
                              data-filter-target="selectedChoicesTotalCount">0</span>
                    </button>
                    {% for key, value, label in form.active_filter_opties %}
                        <button type="button"
                                class="btn btn-filter--active"
                                data-action="filter#removeFilter"
                                data-filter-name-param="{{ key }}"
                                data-filter-value-param="{{ value }}">
                            <span>{{ label }}</span>
                        </button>
                    {% endfor %}
                </div>
                <div class="container__search">
                    <div class="container__info">
                        <button type="button" class="btn-textlink searchinfo-CTA">
                            {% include "icons/info.svg" %}
                            Meer info
                        </button>
                        <div class="searchinfo-tooltip">
                            <span>Maak gebruik van komma's om op meerdere termen te zoeken.
                                <br>
                                Er kan maximaal op 3 termen gezocht worden.
                                <br>
                                <br>
                            Klik op het kruisje om het zoeken te beëindigen.</span>
                        </div>
                    </div>
                    {{ form.q|render_rotterdam_formulier }}
                    <div class="container__toggle-profile"
                         data-filter-target="toggleSearchProfileContainer">
                        {{ form.search_with_profiel_context|render_rotterdam_formulier }}
                    </div>
                </div>
            </div>
            <dialog class="filter-dialog" data-filter-target="filtersheet">
                <div class="full-page-view__header">
                    <h2>Filters</h2>
                    <button type="button"
                            class="btn-close--small"
                            data-action="filter#hideFilters"
                            aria-label="Sluiten">{% include "icons/close.svg" %}</button>
                </div>
                <div class="full-page-view__scroll-pane">
                    <div class="full-page-view__content">
                        {% for veld in form.filters %}
                            <details class="filter" id="foldout_{{ veld.name }}" open>
                                <summary>
                                    <span>{{ veld.label|capfirst }}</span>
                                    <span>(<span data-filter-target="selectedChoicesCount"></span>)</span>
                                </summary>
                                <div class="foldout">
                                    <div class="container__list--header">
                                        <div>
                                            <button type="button"
                                                    class="btn btn-textlink"
                                                    data-action="filter#selectAll"
                                                    data-filter-filter-type-param="all">Selecteer alles</button>
                                            /
                                            <button type="button"
                                                    class="btn btn-textlink"
                                                    data-action="filter#selectAll">niets</button>
                                        </div>
                                    </div>
                                    {{ veld }}
                                </div>
                            </details>
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink btn-with-icon"
                                data-action="filter#removeAllFilters">
                            {% include "icons/bin.svg" %}
                            <span>Verwijder alle filters</span>
                        </button>
                    </div>
                </div>
                <div class="full-page-view__footer">
                    <button type="button"
                            class="btn btn-action"
                            data-action="filter#hideFiltersAndSubmit"
                            data-filter-target="filterButton">
                        Toon <span data-filter-target="filteredCount">{{ data.count }}</span> meldingen
                    </button>
                </div>
            </dialog>
            <div class="container__table">
                <table class="table--overview">
                    <thead>
                        {{ form.ordering }}
                    </thead>
                    <tbody id="id_maincontent">
                        {% for melding in data.results %}
                            {% comment %} {% get_bijlagen melding as bijlagen %} {% endcomment %}
                            <tr data-action="click->overview#navigate"
                                data-overview-targeturl-param="{% url 'melding_detail' melding.uuid %}">
                                <td width="80">
                                    {% if melding.thumbnail_afbeelding %}
                                        <div class="container__thumbnail"
                                             style="background-image: url('{{ melding.thumbnail_afbeelding.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                        </div>
                                    {% else %}
                                        <div class="background-image"></div>
                                    {% endif %}
                                </td>
                                {% render_td_tags kolommen %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if data.count > data.results|length %}
                <div class="container__pagination">
                    <div class="pagination">
                        <div class="wrapper-horizontal">
                            {% if data.previous %}
                                <button type="button"
                                        class="btn--previous has-text"
                                        data-action="overview#navigatePrevious">
                                    <svg width="9"
                                         height="14"
                                         viewBox="0 0 9 14"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                                    </svg>
                                    Vorige
                                </button>
                            {% endif %}
                            {{ form.offset }}
                            {% if data.next %}
                                <button type="button"
                                        class="btn--next has-text"
                                        data-action="overview#navigateNext">
                                    Volgende
                                    <svg width="9"
                                         height="14"
                                         viewBox="0 0 9 14"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                                    </svg>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    </turbo-frame>
{% endblock body %}
