<section class="section--separated" data-testid="detailLocatie">
    <div class="container__details">
        <h2>
            {% if melding.locaties_voor_melding|length > 1 %}
                Locaties
            {% else %}
                Locatie
            {% endif %}
        </h2>
        <div class="has-background--white">
            {% include "melding/melding_detail_locaties_graven.html" with melding=melding locaties=locaties.graven only %}
            {% include "melding/melding_detail_locaties_adressen.html" with melding=melding locaties=locaties.adressen perms=perms only %}
        </div>
    </div>
</section>
