{% extends "base.html" %}
{% load qs_ordenen heeft_orden_oplopend vind_in_dict qs_offset from querystring_tags %}
{% load vertaal from vertaal_tags %}
{% load render_th_tags from melding_tags %}
{% load render_td_tags from melding_tags %}
{% load get_bijlagen from melding_tags %}
{% load mor_core_url from main_tags %}
{% load rotterdam_formulier_html %}
{% block title %}Meldingen overzicht | PlanR{% endblock %}
{% block body %}
    <turbo-frame id="overview">
    <div data-controller="overview">
        <form method="post"
              action="{% url 'melding_lijst' %}"
              id="filterForm"
              data-controller="filter"
              data-turbo-action="advance">
            {% csrf_token %}
            <div class="filter-header">
                <div class="container__flex">
                    <h1 class="page-title">Meldingen</h1>
                    <span class="help-text">
                        {% if form.limit.value|add:0 <= data.count %}
                            {{ form.pagina_eerste_melding }} - {{ form.pagina_laatste_melding }} van {{ data.count }} resultaten
                        {% else %}
                            {{ data.count }} resultaten
                        {% endif %}
                    </span>
                </div>
                <div class="container__search" data-filter-target="containerSearch">{{ form.q|render_rotterdam_formulier }}</div>
            </div>
            <div class="container__tools">
                <div class="container__filter" data-filter-target="filterOverview">
                    {{ form.foldout_states }}
                    {{ form.limit|render_rotterdam_formulier }}
                    {% for veld in form.filters %}
                        {% with foldout_name='foldout_filter-'|add:veld.name %}
                        <div class="container__multiselect{% if foldout_name == form.foldout_states.value %} show{% endif %}">
                            <label class="visually-hidden">{{ veld.label }}</label>
                            <button data-action="filter#toggleFilterElements" data-filter-target="filterButton" data-foldout-name="{{ foldout_name }}" class="toggle js-toggle{% if veld.data|length > 0 %} active {% endif %}"
                                    type="button">{{ veld.label|capfirst }}</button>
                            <div class="wrapper">{{ veld }}</div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="container__table">
                <table class="table--overview">
                    <thead>
                        {{ form.ordering }}
                    </thead>
                    <tbody id="id_maincontent">
                        {% for melding in data.results %}
                            <tr data-action="click->overview#navigate"
                                data-overview-targeturl-param="{% url 'melding_detail' melding.uuid %}">
                                <td width="80">
                                    {% if melding.bijlage.afbeelding_verkleind_relative_url %}
                                        <div class="container__thumbnail"
                                             style="background-image: url('{{ melding.bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                        </div>
                                    {% elif melding.bijlage.bestand_relative_url %}
                                        <div class="container__thumbnail"
                                             style="background-image: url('{{ melding.bijlage.bestand_relative_url|mor_core_url }}')">
                                        </div>
                                    {% else %}
                                        <div class="background-image"></div>
                                    {% endif %}
                                </td>
                                {% render_td_tags kolommen %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if data.count > data.results|length %}
                <div class="container__pagination">
                    <div class="pagination">
                        <div class="wrapper-horizontal">
                            {% if data.previous %}
                                <button type="button"
                                        class="btn--previous has-text"
                                        data-action="overview#navigatePrevious">
                                    <svg width="9"
                                         height="14"
                                         viewBox="0 0 9 14"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                                    </svg>
                                    Vorige
                                </button>
                            {% endif %}
                            {{ form.offset }}
                            {% if data.next %}
                                <button type="button"
                                        class="btn--next has-text"
                                        data-action="overview#navigateNext">
                                    Volgende
                                    <svg width="9"
                                         height="14"
                                         viewBox="0 0 9 14"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                                    </svg>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    </turbo-frame>
{% endblock body %}
