{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load json_encode from json_tags %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    <link href=" https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css "
          rel="stylesheet">
    {% render_bundle 'app' 'css' %}
{% endblock stylesheets %}
{% block javascripts %}
    {% render_bundle 'app' 'js' %}
{% endblock javascripts %}
<turbo-frame id="melding_actie_form">
<div class="modal-dialog modal-dialog--small">
    <div class="modal-content">
        <div class="modal-header">
            <h1>
                <span>Start taak</span>
            </h1>
            <button type="button"
                    class="btn-close"
                    aria-label="Sluit"
                    data-action="detail#closeModal"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'taak_starten' melding.uuid %}"
                  method="post"
                  class="form--horizontal"
                  data-controller="taakstartenformulier"
                  data-turbo-frame="_top"
                  data-taakstartenformulier-target="formTaakStarten"
                  enctype="multipart/form-data"
                  novalidate>
                {% csrf_token %}
                <div class="form-control__with-helptext">
                    <div class="form-row">
                        <label class="">Selecteer een taak</label>
                        <div>{{ form.taaktype }}</div>
                    </div>
                </div>
                <div class="form-control__with-helptext">{{ form.bericht|render_rotterdam_formulier }}</div>
                <div class="form-row btn-row">
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-controller="detail"
                            data-action="detail#closeModal"
                            data-detail-target="modalAfhandelen">
                        <span>Annuleren</span>
                    </button>
                    <button type="submit" class="btn btn-action">
                        <span>Start taak</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</turbo-frame>
