{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load json_encode from json_tags %}
<turbo-frame id="informatie_toevoegen">
<div>
    <div>
        <details class="details-form">
            <summary>Voeg een opmerking of foto toe</summary>
            <form class="form--aside"
                  action="{% url 'informatie_toevoegen' melding_uuid %}"
                  method="post"
                  enctype="multipart/form-data"
                  data-turbo-frame="_top"
                  data-controller="opmerkingformulier"
                  data-opmerkingformulier-target="formOpmerking">
                {% csrf_token %}
                {{ form.opmerking|render_rotterdam_formulier }}
                <div data-controller="bijlagen">{{ form.bijlagen_extra|render_rotterdam_formulier }}</div>
                <p class="help-block invalid-text"
                   data-opmerkingformulier-target="errorMessage"></p>
                <div class="form-row">
                    <button type="submit"
                            class="btn btn-secondary"
                            data-action="opmerkingformulier#onSubmit">
                        <span>Toevoegen</span>
                    </button>
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-action="detail#cancelInformatieToevoegen">
                        <span>Annuleren</span>
                    </button>
                </div>
            </form>
        </details>
    </div>
</div>
</turbo-frame>
