<section class="section--separated" data-testid="detailTaken">
    <div class="container__details">
        <h2>Taken</h2>
        <div class="container__taken">
            <div class="taken--header">
                <div>Taak</div>
                <div>Aangemaakt</div>
                <div>Uitgevoerd</div>
                <div>Opmerking</div>
                <div>Status</div>
                <div>Opties</div>
            </div>
            <details class="container__taak">
                <summary>
                    <div class="description">
                        <p>Glas opruimen Glas opruimen Glas opruimen Glas opruimen Glas opruimen Glas opruimen</p>
                        <small>Inzameling</small>
                    </div>
                    <div>
                        <span class="help-text">03-04-2025, 09:28</span>
                    </div>
                    <div>
                        <span class="help-text">03-04-2025, 09:28</span>
                    </div>
                    <div>
                        <span class="help-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    </div>
                    <div>status</div>
                    <div>opties</div>
                </summary>
                <div class="container__taak--content">
                    <div class="container__content">
                        <h3>Opmerking</h3>
                        <div class="content">
                            <ul class="list-clean">
                                <li>
                                    <span class="initials">LV</span>
                                    <div class="message">
                                        <h4>Luuk Veerman</h4>
                                        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                        <small>Vandaag 17:42</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container__content">
                        <h3>Acties</h3>
                        <div class="content">
                            <ul class="list-clean">
                                <li>
                                    <span class="initials">TF</span>
                                    <div class="message">
                                        <h4>Tyrell Flamingo</h4>
                                        <p>Taak aangemaakt</p>
                                        <small>Vandaag 17:42</small>
                                    </div>
                                </li>
                                <li>
                                    <span class="initials">TF</span>
                                    <div class="message">
                                        <h4>Tyrell Flamingo</h4>
                                        <p>Taak aangemaakt</p>
                                        <small>Vandaag 17:42</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container__content">
                        <h3>Informatie uitvoerder</h3>
                    </div>
                </div>
            </details>
            <div class="container__aanmaken">
                <span class="help-text">Er zijn nog geen taken toegevoegd</span>
                <button class="btn btn-tertiary btn-icon">
                    <svg width="24"
                         height="24"
                         viewBox="0 0 32 32"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                    </svg>
                    Taken toevoegen
                </button>
            </div>
        </div>
    </div>
</section>
