{% load webpack_static from webpack_loader %}
<aside class="menu-bar" data-testid="menuBar" data-controller="navigation">
    <div>
        <h1>
            <a href="{% url 'root' %}">
                <span class="green">P</span><span class="nav--wide"><span class="green">lan</span>R</span>
            </a>
        </h1>
        <ul class="list-nav--primary">
            {% if request.user.is_authenticated %}
                <li>
                    <a class="btn" href="{% url 'root' %}">
                        {% include "icons/meldingen.svg" %}
                        <span class="nav--wide">Meldingen</span>
                    </a>
                </li>
            {% endif %}
            {% if perms.authorisatie.dashboard_bekijken %}
                <li>
                    <a class="btn" href="{% url 'dashboard' %}">
                        {% include "icons/dashboard.svg" %}
                        <span class="nav--wide">Dashboard</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <ul class="list-nav--secondary">
            {% if request.user.is_authenticated %}
                <li>
                    <a class="btn" href="{% url 'release_note_lijst_public' %}">
                        {% include "icons/nieuw.svg" %}
                        <span class="nav--wide">Nieuw in PlanR</span>
                        {% if UNWATCHED_COUNT > 0 %}
                            <span class="badge--unread-count nav--wide">
                                {% if UNWATCHED_COUNT < 101 %}
                                    {{ UNWATCHED_COUNT }}
                                {% else %}
                                    +99
                                {% endif %}
                            </span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if perms.authorisatie.beheer_bekijken %}
                <li>
                    <a class="btn" href="{% url 'beheer' %}">
                        {% include "icons/setting_small.svg" %}
                        <span class="nav--wide">Beheer</span>
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li>
                    <a class="btn" href="{% url 'admin:index' %}" target="_blank">
                        <svg width="20"
                             height="20"
                             viewBox="0 -960 960 960"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg"
                             title="">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#9DAFB6" d="M480-440q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0-80q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0 440q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-400Zm0-315-240 90v189q0 54 15 105t41 96q42-21 88-33t96-12q50 0 96 12t88 33q26-45 41-96t15-105v-189l-240-90Zm0 515q-36 0-70 8t-65 22q29 30 63 52t72 34q38-12 72-34t63-52q-31-14-65-22t-70-8Z" />
                        </svg>
                        <span class="nav--wide">Admin</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="container__menu-toggle">
            <button class="menu-toggle" data-action="navigation#toggleMenu">
                {% include "icons/arrow-double.svg" %}
                <span class="nav--wide">Menu inklappen</span>
            </button>
        </div>
        <div class="container__logo">
            <img src="{% webpack_static 'images/logo-organisatie.svg' %}"
                 alt="Logo organisatie"
                 class="logo logo--large" />
            <img src="{% webpack_static 'images/logo-organisatie-klein.svg' %}"
                 alt="Logo organisatie"
                 class="logo logo--small" />
        </div>
    </div>
</aside>
