<div data-modal-target="modal">
    <template data-modal-target="template">
        <dialog data-modal-target="dialog">
            <div class="modal-content" id="modal_content">
                <div class="modal-header" id="modal_header"></div>
                <div class="modal-body" id="modal_body"></div>
            </div>
        </dialog>
    </template>
    <template data-modal-target="templateButton">
        <button type="button"
                class="btn-close"
                aria-label="Sluit"
                data-action="modal#closeModal"></button>
    </template>
</div>
