{% if SESSION_EXPIRY_TIMESTAMP != 0 and SESSION_EXPIRY_MAX_TIMESTAMP != 0 %}
    <turbo-frame id="tf_session_timer">
    <div data-controller="sessionTimer"
         data-sessionTimer-session-show-timer-seconds-value="{{ SESSION_SHOW_TIMER_SECONDS }}"
         data-sessionTimer-session-check-iterval-seconds-value="{{ SESSION_CHECK_INTERVAL_SECONDS }}"
         data-sessionTimer-session-expiry-max-timestamp-value="{{ SESSION_EXPIRY_MAX_TIMESTAMP }}"
         data-sessionTimer-session-expire-after-last-activity-grace-period-value="{{ SESSION_EXPIRE_AFTER_LAST_ACTIVITY_GRACE_PERIOD }}"
         data-sessionTimer-session-expiry-timestamp-value="{{ SESSION_EXPIRY_TIMESTAMP }}">
        <span data-sessionTimer-target="uitleg" style="white-space: wrap;"></span>
    </div>
    </turbo-frame>
{% endif %}
