<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Applicatie voor midoffice medewerkers om regie uit te voeren op de MOR-keten">
        <meta name="keywords"
              content="MOR, Meldingen openbare ruimte, gemeente Rotterdam, PlanR, midoffice, regie, meldingen">
        <title>
            {% block title %}
                PlanR
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "pdf/pageheader.html" with title="Serviceverzoek" %}
        <main>
            <div class="container">
                {% block body %}
                {% endblock body %}
            </div>
        </main>
        <div class="spinner"></div>
    </body>
</html>
