{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Release Notes</h1>
            <a class="btn btn-action btn-240"
               href="{% url 'release_note_aanmaken' %}">
                <svg width="24"
                     height="24"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                </svg>
                Nieuwe release note
            </a>
        </div>
        <form>
            <div class="form-row">
                <label class="" for="id_zoeken">Zoeken</label>
                <div>
                    <input type="text"
                           id="id_zoeken"
                           name="zoeken"
                           class="form-control "
                           data-action="row-search#search">
                </div>
            </div>
        </form>
        <h2>Release Notes</h2>
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Beschrijving</th>
                    <th>Aanmaak Datum</th>
                    <th>Publicatie Datum</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for release_note in release_notes %}
                    <tr data-row-search-target="row">
                        <td data-row-search-target="searchable">{{ release_note.titel }}</td>
                        {% autoescape off %}
                            <td data-row-search-target="searchable">{{ release_note.beschrijving|striptags|safe|truncate_text:200 }}</td>
                        {% endautoescape %}
                        <td data-row-search-target="searchable">{{ release_note.aangemaakt_op }}</td>
                        <td data-row-search-target="searchable">{{ release_note.publicatie_datum }}</td>
                        <td>
                            <a href="{% url 'release_note_aanpassen' release_note.pk %}"
                               aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                        </td>
                        <td>
                            <a href="{% url 'release_note_verwijderen' release_note.pk %}"
                               data-turbo-frame="_top"
                               onclick="return confirm('Weet je zeker dat je deze release note wil verwijderen?')"
                               aria-label="Verwijderen">{% include "icons/bin.svg" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </turbo-frame>
{% endblock body %}
