{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block body_class %}
    wide--xl
{% endblock body_class %}
{% block body %}
    <turbo-frame id="overview" data-turbo-action="advance">
    <div>
        <h1>Dashboard</h1>
        <h2>{{ title|capfirst }}</h2>
        <ul class="list-horizontal">
            {% for nav in status_navigatie %}
                <li>
                    {% if nav.0 %}
                        <a href="{{ nav.0 }}">{{ nav.1 }}</a>
                    {% else %}
                        <strong>{{ nav.1 }}</strong>
                    {% endif %}
                    {% if not forloop.last %}
                        &nbsp;
                        |
                        &nbsp;
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
        <ul class="list-horizontal">
            {% for nav in periode_navigatie %}
                <li>
                    {% if nav.0 %}
                        <a href="{{ nav.0 }}">{{ nav.1 }}</a>
                    {% else %}
                        <strong>{{ nav.1 }}</strong>
                    {% endif %}
                    {% if not forloop.last %}
                        &nbsp;
                        |
                        &nbsp;
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
        <ul class="list-horizontal">
            {% for nav in periode_type_navigatie %}
                <li>
                    {% if nav.0 %}
                        <a href="{{ nav.0 }}">{{ nav.1 }}</a>
                    {% else %}
                        <strong>{{ nav.1 }}</strong>
                    {% endif %}
                    {% if not forloop.last %}
                        &nbsp;
                        |
                        &nbsp;
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% block content %}
    {% endblock content %}
    </turbo-frame>
{% endblock body %}
