{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block body_class %}
    wide--xl
{% endblock body_class %}
{% block body %}
    <turbo-frame id="overview" data-turbo-action="advance" data-controller="sidesheet">
    <div class="screen-xl container__dashboard">
        <div class="container__filters">
            <div class="container__title">
                <h1>Dashboard</h1>
                <div>
                    <button type="button"
                            class="btn btn-filter"
                            data-action="sidesheet#toggleFilter">
                        {% include "icons/filter_v2.svg" %}
                        <span>Filters</span>
                    </button>
                </div>
            </div>
            <div>
                <ul class="list-horizontal">
                    <li class="label">Status</li>
                    {% for nav in status_navigatie %}
                        <li>
                            {% if nav.0 %}
                                <a href="{{ nav.0 }}" class="btn btn-state">{{ nav.1 }}</a>
                            {% else %}
                                <span class="btn-state btn btn-state--active">{{ nav.1 }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-horizontal">
                    <li class="label">Periode</li>
                    {% for nav in periode_navigatie %}
                        <li>
                            {% if nav.0 %}
                                <a href="{{ nav.0 }}" class="btn btn-state">{{ nav.1 }}</a>
                            {% else %}
                                <span class="btn btn-state--active">{{ nav.1 }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-horizontal">
                    <li class="label"></li>
                    {% for nav in periode_type_navigatie %}
                        <li>
                            {% if nav %}
                                {% if nav.0 %}
                                    <a href="{{ nav.0 }}" class="btn btn-state">{{ nav.1 }}</a>
                                {% else %}
                                    <span class="btn btn-state--active">{{ nav.1 }}</span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    </turbo-frame>
{% endblock body %}
