{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block body_class %}
    wide--xl
{% endblock body_class %}
{% block body %}
    <turbo-frame id="overview" data-turbo-action="advance">
    <div class="screen-xl container__dashboard">
        <div class="container__filters">
            <h1 class="no-margin-top">Dashboard</h1>
            <div class="margin-top">
                {% comment %} <ul class="list-horizontal">
                    <li>
                        <span class="btn-state btn btn-state--active">Meldingen</span>
                    </li>
                    <li>
                        <span class="btn-state btn btn-state--disabled">Taken</span>
                    </li>
                </ul> {% endcomment %}
                <ul class="list-horizontal">
                    <li class="label">Status</li>
                    {% for nav in status_navigatie %}
                        <li>
                            {% if nav.1 %}
                                <a href="{{ nav.1 }}" class="btn btn-state">{{ nav.0 }}</a>
                            {% else %}
                                <span class="btn-state btn btn-state--active">{{ nav.0 }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-horizontal">
                    <li class="label">Periode</li>
                    {% for nav in periode_navigatie %}
                        <li>
                            {% if nav.1 %}
                                <a href="{{ nav.1 }}" class="btn btn-state">{{ nav.0 }}</a>
                            {% else %}
                                <span class="btn btn-state--active">{{ nav.0 }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-horizontal">
                    <li class="label"></li>
                    {% for nav in periode_type_navigatie %}
                        <li>
                            {% if nav.1 %}
                                <a href="{{ nav.1 }}" class="btn btn-state">{{ nav.0 }}</a>
                            {% elif nav.0 %}
                                <span class="btn btn-state--active">{{ nav.0 }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    </turbo-frame>
{% endblock body %}
