<turbo-frame id="notificatie_lijst_public">
{% if request.user.is_authenticated %}
    <div class="container__notification container__notification--snack"
         data-controller="notificatielijst">
        {% for object in snack %}
            <turbo-frame class="notification {{ object.notificatie_niveau }}" data-controller="notificatie" data-notificatielijst-target="notificatie" data-src="{% url 'notificatie_verwijderen_public' object.id %}" id="notificatie_{{ object.id }}">
            {% include "public/notificaties/notificatie.html" with titel=object.titel niveau=object.notificatie_niveau has_beschrijving=object.has_beschrijving korte_beschrijving=object.korte_beschrijving beschrijving=object.beschrijving only %}
            </turbo-frame>
        {% endfor %}
    </div>
    <div class="container__notification container__notification--toast"
         data-controller="notificatielijst">
        {% for object in toast %}
            <turbo-frame class="notification {{ object.notificatie_niveau }}" data-controller="notificatie" data-notificatie-duration-value="
            {% if object.notificatie_niveau is 'error' %}
                {{ TOAST_ZICHTBAARHEID_VERLENGD }}
            {% else %}
                {{ TOAST_ZICHTBAARHEID_STANDAARD }}
            {% endif %}
            " data-notificatielijst-target="notificatie" data-src="{% url 'notificatie_verwijderen_public' object.id %}" id="notificatie_{{ object.id }}">
            {% include "public/notificaties/notificatie.html" with titel=object.titel niveau=object.notificatie_niveau has_beschrijving=object.has_beschrijving korte_beschrijving=object.korte_beschrijving beschrijving=object.beschrijving only %}
            </turbo-frame>
        {% endfor %}
        {% for message in messages %}
            <div class="notification {{ message.tags }}"
                 data-controller="notificatie"
                 data-notificatielijst-target="notificatie"
                 data-notificatie-duration-value="{% if object.notificatie_niveau is 'error' %} {{ TOAST_ZICHTBAARHEID_VERLENGD }}{% else %}{{ TOAST_ZICHTBAARHEID_STANDAARD }}{% endif %}">
                {% include "public/notificaties/notificatie.html" with titel=message niveau=message.tags tags=message.level only %}
            </div>
        {% endfor %}
    </div>
{% endif %}
</turbo-frame>
