<div class="container__icon">
    {% if niveau %}
        {% with "public/notificaties/icons/"|add:niveau|add:".html" as template %}
            {% include template %}
        {% endwith %}
    {% endif %}
</div>
<div class="container__content">
    <h3>{{ titel }}</h3>
    <div class="container__message">
        {% if korte_beschrijving %}<p data-notificatie-target="content">{{ korte_beschrijving }}</p>{% endif %}
        {% if has_beschrijving %}<a href="">Meer info</a>{% endif %}
    </div>
    {% if link_titel and link_url %}<a href="{{ link_url }}">{{ link_titel }}</a>{% endif %}
</div>
<button type="button"
        class="btn-close--small"
        aria-label="Sluit"
        data-action="notificatie#hideNotification">{% include "icons/close.svg" %}</button>
