<turbo-frame id="notificatie_lijst_public">
<div class="container__notification container__notification--snack"
     data-controller="notificatielijst">
    <ul class="list-notifications">
        {% for object in snack %}
            {% include "public/notificaties/notificatie.html" with object=object only %}
        {% endfor %}
    </ul>
</div>
<div class="container__notification container__notification--toast"
     data-controller="notificatie">
    <ul class="list-notifications">
        {% for object in toast %}
            {% include "public/notificaties/notificatie.html" with object=object only %}
        {% endfor %}
    </ul>
</div>
</turbo-frame>
