<turbo-frame id="tf_profiel_notificatie_lijst">
<span id="profiel_notificatie_lijst_aantal_ongelezen"
      class="trigger--notificationslist">
    {% include "public/notificaties/profiel_notificatie_lijst_aantal_ongelezen.html" with aantal=ongelezen_aantal only %}
</span>
<div class="container__profiel_notificatie_lijst content content--large">
    <header>
        <h2 class="h3" id="profiel_notificatie_lijst_aantal">
            {% include "public/notificaties/profiel_notificatie_lijst_aantal.html" with aantal=object_list|length only %}
        </h2>
        <button type="button"
                class="btn-close--small"
                aria-label="Sluit"
                data-controller="utils"
                data-action="utils#noHover"
                data-utils-targetcontainer-param="container__uitklapper">{% include "icons/close.svg" %}</button>
    </header>
    <ul class="list-horizontal">
        <li class="active">
            <a data-notificaties--manager-overzicht-filter-param="alle"
               data-action="notificaties--manager#overzichtTab">Alle</a>
        </li>
        <li>
            <a data-notificaties--manager-overzicht-filter-param="ongelezen"
               data-action="notificaties--manager#overzichtTab">Ongelezen</a>
        </li>
        <li>
            <a data-notificaties--manager-overzicht-filter-param="gelezen"
               data-action="notificaties--manager#overzichtTab">Gelezen</a>
        </li>
    </ul>
    <div class="container__lijst">
        <ul id="profiel_notificatie_lijst" class="list-notificaties">
            {% for object in paginering.object_list %}
                {% include "public/notificaties/snack_overzicht_item.html" with notificatie=object action="append" target="profiel_notificatie_lijst" only %}
            {% endfor %}
        </ul>
        <div id="snack_overzicht_laad_meer">
            {% include "public/notificaties/snack_overzicht_laad_meer.html" with paginering=paginering only %}
        </div>
    </div>
</div>
</turbo-frame>
