{% load is_unwatched_by_user from berichten_tags %}
<turbo-stream action="append" target="profiel_notificatie_lijst">
<template>
    <li id="notificatie_{{ notificatie.id }}">
        {% is_unwatched_by_user notificatie as notificatie_is_watched %}
        <div class="container__icon">
            <span class="initials">xx</span>
        </div>
        <div class="container__content">
            <h2>{{ notificatie.titel }}</h2>
            {% if notificatie.korte_beschrijving %}<p>{{ notificatie.korte_beschrijving }}</p>{% endif %}
            {% if notificatie_is_watched %}
                <span>{% include "icons/info.svg" %}</span>
            {% endif %}
        </div>
    </li>
</template>
</turbo-stream>
