{% include "public/notificaties/snack_overzicht_aantal_ongelezen.html" with aantal=ongelezen_aantal only %}
{% include "public/notificaties/snack_overzicht_aantal.html" with aantal=object_list|length only %}
{% include "public/notificaties/snack_overzicht_tabs.html" with filter=filter ongelezen_aantal=ongelezen_aantal only %}
{% for object in paginering.object_list %}
    {% include "public/notificaties/snack_overzicht_item.html" with notificatie=object action="append" target="snack_overzicht" only %}
{% endfor %}
{% include "public/notificaties/snack_overzicht_laad_meer.html" with paginering=paginering only %}
{% include "public/notificaties/snack_overzicht_geen_resultaat.html" with filter=filter aantal=paginering.object_list|length only %}
