<turbo-stream action="update" target="snack_overzicht_aantal_ongelezen">
<template>
    <div class="notification__background">
        <span class="active">{% include "icons/notification-alert.svg" %}</span>
        <span class="inactive">{% include "icons/notification-alert-open.svg" %}</span>
        {% if aantal > 0 %}
            <span class="badge-count">
                {% if aantal > 0 %}
                    {% if aantal < 101 %}
                        <span>{{ aantal }}</span>
                    {% else %}
                        <span>+99</span>
                    {% endif %}
                {% endif %}
            </span>
        {% endif %}
    </div>
</template>
</turbo-stream>
