{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Gebruiker wijzigen | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Gebruikers" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer">
        <div>
            <a href="{% url 'gebruiker_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                {% include "icons/arrow-short.svg" %}
                <span>Gebruikerslijst</span>
            </a>
        </div>
        <h1>Wijzig gebruiker</h1>
        <div class="grid-container">
            <div class="grid-item">
                <form action="{% url 'gebruiker_aanpassen' object.id %}"
                      method="post"
                      data-turbo="false">
                    {% csrf_token %}
                    <div>
                        <h2 class="h5 no-margin-bottom">E-mailadres</h2>
                        <p class="no-margin-top">{{ object.email }}</p>
                    </div>
                    <fieldset>
                        {{ form.telefoonnummer|render_rotterdam_formulier }}
                        {{ form.first_name|render_rotterdam_formulier }}
                        {{ form.last_name|render_rotterdam_formulier }}
                        {{ form.context|render_rotterdam_formulier }}
                        {{ form.group|render_rotterdam_formulier }}
                    </fieldset>
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'gebruiker_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            <button type="submit" class="btn btn-action">
                                <span>Aanpassen</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
