{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Gebruikerslijst | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Gebruikers" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer"
         data-controller="row-search"
         data-row-search-disable-result-highlight-value="true">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                <span>Beheer</span>
            </a>
        </div>
        <div class="container__flex">
            <h1>Gebruikerslijst</h1>
            <div class="container__flex flex--end">
                <a class="btn btn-tertiary" href="{% url 'gebruiker_bulk_import' %}">
                    <svg width="24"
                         height="24"
                         viewBox="0 0 32 32"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#00811f"></path>
                    </svg>
                    Bulk import/update
                </a>
                <a class="btn btn-action" href="{% url 'gebruiker_aanmaken' %}">
                    <svg width="24"
                         height="24"
                         viewBox="0 0 32 32"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                    </svg>
                    Nieuwe gebruiker
                </a>
            </div>
        </div>
        <form>
            <div class="form-row">
                <label for="id_zoeken">Zoeken</label>
                <div>
                    <input type="text"
                           id="id_zoeken"
                           name="zoeken"
                           class="form-control "
                           data-action="row-search#search">
                    <small data-row-search-target="resultCount"></small>
                </div>
            </div>
        </form>
        {% comment %} {% if ongeauthoriseerde_gebruikers %} {% endcomment %}
        <details>
            <summary>
                <h2 class="h5">
                    Niet geauthoriseerde gebruikers(<span data-row-search-target="resultCount"
      data-container-id="ongeauthoriseerde_gebruikers_container"></span>)
                </h2>
            </summary>
            <div class="container__table">
                <table data-testid="niet-auth-gebruikers-tabel">
                    <thead>
                        <tr>
                            <th>E-mailadres</th>
                            <th>Telefoonnummer</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Rol</th>
                            <th>Rechtengroep</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ongeauthoriseerde_gebruikers_container">
                        {% for object in ongeauthoriseerde_gebruikers %}
                            <tr data-row-search-target="row">
                                <td data-row-search-target="searchable">{{ object.email }}</td>
                                <td data-row-search-target="searchable">
                                    {% if object.telefoonnummer %}
                                        {{ object.telefoonnummer }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.first_name %}
                                        {{ object.first_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.last_name %}
                                        {{ object.last_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.profiel.context %}
                                        {{ object.profiel.context }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.groups.all %}
                                        {{ object.groups.all.0 }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'gebruiker_aanpassen' object.pk %}"
                                       aria-label="Aanpassen">{% include "icons/edit2.svg" %}</a>
                                </td>
                                <td>
                                    <a href="{% url 'gebruiker_verwijderen' object.pk %}"
                                       aria-label="Verwijderen"
                                       onclick="return confirm('Weet je zeker dat je deze gebruiker wil verwijderen?')">verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <br>
            <br>
        </details>
        {% comment %} {% endif %} {% endcomment %}
        <details>
            <summary>
                <h2 class="h5">
                    Geauthoriseerde gebruikers(<span data-row-search-target="resultCount"
      data-container-id="geauthoriseerde_gebruikers_container"></span>)
                </h2>
            </summary>
            <div class="container__table">
                <table data-testid="auth-gebruikers-tabel">
                    <thead>
                        <tr>
                            <th>E-mailadres</th>
                            <th>Telefoonnummer</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Rol</th>
                            <th>Rechtengroep</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="geauthoriseerde_gebruikers_container">
                        {% for object in geauthoriseerde_gebruikers %}
                            <tr data-row-search-target="row">
                                <td data-row-search-target="searchable">{{ object.email }}</td>
                                <td data-row-search-target="searchable">
                                    {% if object.telefoonnummer %}
                                        {{ object.telefoonnummer }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.first_name %}
                                        {{ object.first_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.last_name %}
                                        {{ object.last_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.profiel.context %}
                                        {{ object.profiel.context }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.groups.all %}
                                        {{ object.groups.all.0 }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'gebruiker_aanpassen' object.pk %}"
                                       aria-label="Aanpassen">{% include "icons/edit2.svg" %}</a>
                                </td>
                                <td>
                                    <a href="{% url 'gebruiker_verwijderen' object.pk %}"
                                       aria-label="Verwijderen"
                                       onclick="return confirm('Weet je zeker dat je deze gebruiker wil verwijderen?')">verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </details>
        <details>
            <summary>
                <h2 class="h5">
                    Verwijderde gebruikers(<span data-row-search-target="resultCount"
      data-container-id="verwijderde_gebruikers_container"></span>)
                </h2>
            </summary>
            <div class="container__table">
                <table data-testid="verw-gebruikers-tabel">
                    <thead>
                        <tr>
                            <th>E-mailadres</th>
                            <th>Telefoonnummer</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="verwijderde_gebruikers_container">
                        {% for object in verwijderde_gebruikers %}
                            <tr data-row-search-target="row">
                                <td data-row-search-target="searchable">{{ object.email }}</td>
                                <td data-row-search-target="searchable">
                                    {% if object.telefoonnummer %}
                                        {{ object.telefoonnummer }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.first_name %}
                                        {{ object.first_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td data-row-search-target="searchable">
                                    {% if object.last_name %}
                                        {{ object.last_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'gebruiker_terughalen' object.pk %}"
                                       aria-label="Terughalen"
                                       onclick="return confirm('Weet je zeker dat je deze gebruiker wil terughalen?')">terughalen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </details>
    </div>
    </turbo-frame>
{% endblock body %}
