{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Gebruiker aanmaken | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Gebruikers" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer">
        <div>
            <a href="{% url 'gebruiker_lijst' %}"
               class="link--back"
               data-turbo-action="advance">
                {% include "icons/arrow-short.svg" %}
                <span>Gebruikerslijst</span>
            </a>
        </div>
        <h1>Gebruiker aanmaken</h1>
        <div class="grid-container">
            <div class="grid-item">
                <form action="." method="post" data-turbo-frame="_top">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.email|render_rotterdam_formulier }}</div>
                        {{ form.telefoonnummer|render_rotterdam_formulier }}
                        {{ form.first_name|render_rotterdam_formulier }}
                        {{ form.last_name|render_rotterdam_formulier }}
                        {{ form.context|render_rotterdam_formulier }}
                        {{ form.group|render_rotterdam_formulier }}
                    </fieldset>
                    <div class="form-row btn-row">
                        <button type="reset"
                                class="btn btn-tertiary"
                                data-controller="utils"
                                data-action="utils#goToUrl"
                                data-utils-url-param="{% url 'gebruiker_lijst' %}">
                            <span>Annuleren</span>
                        </button>
                        <button type="submit" class="btn btn-action">
                            <span>Aanmaken</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="grid-item"></div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
