{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    {{ release_note.titel|capfirst }} | Nieuw in PlanR | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Nieuw in PlanR" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="release_notes" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div class="margin-bottom">
            <a href="{% url origine %}" class="link--back" data-turbo-frame="_top">
                {% include "icons/arrow-short.svg" %}
            </a>
        </div>
        <h1 class="pagetitle h2">{{ release_note.titel|capfirst }}</h1>
        {% if release_note.publicatie_datum %}<p class="release-date">{{ release_note.publicatie_datum }}</p>{% endif %}
        <p class="description">{{ release_note.beschrijving|safe }}</p>
        <div class="container padding--bottom">
            <ul class="list--images">
                {% for bijlage in release_note.bijlagen.all %}
                    {% if bijlage.mimetype == "image/gif" and bijlage.bestand %}
                        <li>
                            <img src="{{ bijlage.bestand.url }}" alt="GIF">
                        </li>
                    {% elif bijlage.afbeelding %}
                        <li>
                            <img src="{{ bijlage.afbeelding.url }}" alt="Afbeelding">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <a href="{% url origine %}">Bekijk alle berichten</a>
    </div>
    </turbo-frame>
{% endblock body %}
