{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block title %}Nieuw in PlanR{% endblock %}
{% block body %}
    <turbo-frame id="release_notes" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url origine %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
            </a>
        </div>
        <h1 class="pagetitle">{{ release_note.titel|capfirst }}</h1>
        {% if release_note.publicatie_datum %}<p class="release-date">{{ release_note.publicatie_datum }}</p>{% endif %}
        <p class="description">{{ release_note.beschrijving|safe }}</p>
        <div class="container">
            <ul class="list--images">
                {% for bijlage in release_note.bijlagen.all %}
                    {% if bijlage.mimetype == "image/gif" and bijlage.bestand %}
                        <li class="">
                            <img src="{{ bijlage.bestand.url }}" alt="GIF">
                        </li>
                    {% elif bijlage.afbeelding %}
                        <li class="">
                            <img src="{{ bijlage.afbeelding.url }}" alt="Afbeelding">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% comment %} <div class="container">
            <a href="{% url 'taken' %}" class="btn btn-action">Bekijk mijn taken</a>
        </div> {% endcomment %}
    </div>
    </turbo-frame>
{% endblock body %}
