{% load mor_core_url replace_n from main_tags %}
<section class="section--seperated section--imageslider"
         {% if bijlagen|length < 2 %}style="border: 0;"{% endif %}>
    <div>
        {% if bijlagen|length > 0 %}
            <div class="container__imageslider"
                 data-detail-target="imageSliderContainer"
                 data-action="scroll->detail#onScrollSlider">
                <ul class="list-clean imageslider"
                    style="width: calc(100% * {{ bijlagen|length }})">
                    {% for bijlage in bijlagen %}
                        <li class="container__image" tabindex="0">
                            <div class="image"
                                 style="background-image: url('{{ bijlage.afbeelding_relative_url|mor_core_url }}')"
                                 data-detail-target="selectedImage"
                                 data-action="click->detail#showImageInModal"
                                 data-detail-image-index-param="{{ forloop.counter|add:'-1' }}">
                                <span>{{ bijlage.label }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if bijlagen|length > 1 %}
                <div class="container__thumbs"
                     data-detail-target="imageSliderThumbContainer">
                    <ul data-detail-target="thumbList">
                        {% for bijlage in bijlagen %}
                            <li data-detail-target="thumb">
                                <button data-action="click->detail#selectImage"
                                        data-detail-image-index-param="{{ forloop.counter|add:'-1' }}"
                                        aria-label="Bekijk afbeelding">
                                    <div class="container__image">
                                        <div class="image"
                                             style="background-image:url('{{ bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                        </div>
                                    </div>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <div class="background-image"></div>
        {% endif %}
    </div>
    {% if bijlagen|length > 0 %}
        {% include "icons/expand.svg" %}
    {% endif %}
</section>
{% if bijlagen|length > 0 %}
    <section class="section--seperated section--imagelist print-only">
        <div class="container__details">
            {% if bijlagen|length > 0 %}
                <ul class="list-clean">
                    {% for bijlage in bijlagen %}
                        <li class="container__image">
                            <div class="image">
                                <img src="{{ bijlage.afbeelding_relative_url|mor_core_url }}" alt="" />
                                <span>Foto van melder</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endif %}
<template id="template_modal_body_images">
    <div class="image" data-detail-target="selectedImageModal"></div>
    <div class="image-counter" data-detail-target="imageCounter"></div>
    <div class="container__navigate-images">
        <div class="navigate-images--left inactive"
             data-detail-target="navigateImagesLeft"
             data-action="click->detail#showPreviousImageInModal">
            <span aria-label="Bekijk vorige afbeelding">{% include "icons/arrow-right.svg" %}</span>
        </div>
        <div class="navigate-images--right inactive"
             data-detail-target="navigateImagesRight"
             data-action="click->detail#showNextImageInModal">
            <span aria-label="Bekijk volgende afbeelding">{% include "icons/arrow-right.svg" %}</span>
        </div>
    </div>
</template>
