{% extends "snippets/turbo_stream_wrapper.html" %}
{% load melding_taken from melding_tags %}
{% load vertaal from vertaal_tags %}
<!-- djlint:off -->
{% block action %}update{% endblock action %}
{% block target %}melding_detail_header_status{% endblock target %}
<!-- djlint:on -->
{% block content %}
    {% melding_taken melding as taak_info %}
    {% if melding.status %}
        <span class="badge badge--{% if melding.status.naam == 'afgehandeld' %}green{% elif melding.status.naam == 'controle' %}yellow{% elif melding.status.naam == 'in_behandeling' %}darkblue{% elif melding.status.naam == 'geannuleerd' %}red{% else %}lightblue{% endif %}">{{ melding.status.naam|vertaal }}
            {% if melding.status.naam == 'afgehandeld' or melding.status.naam == 'geannuleerd' %}
                ({{ melding.resolutie }})
            {% endif %}
        </span>
    {% endif %}
    {% if taak_info.aantal_actieve_taken %}
        <span class="badge badge--darkblue" data-testid="taakActief">{{ taak_info.aantal_actieve_taken }}
            {% if taak_info.aantal_actieve_taken > 1 %}
                taken
            {% else %}
                taak
            {% endif %}
        actief</span>
    {% else %}
        <span class="badge badge--darkblue" data-testid="taakActief">0 taken actief</span>
    {% endif %}
    {% if taak_info.aantal_opgeloste_taken %}
        <span class="badge badge--darkblue" data-testid="taakOpgelost">{{ taak_info.aantal_opgeloste_taken }}
            {% if taak_info.aantal_opgeloste_taken > 1 %}
                taken
            {% else %}
                taak
            {% endif %}
        opgelost</span>
    {% else %}
        <span class="badge badge--darkblue" data-testid="taakOpgelost">0 taken opgelost</span>
    {% endif %}
    {% if taak_info.aantal_niet_opgeloste_taken %}
        <span class="badge badge--red" data-testid="taakNietOpgelost">{{ taak_info.aantal_niet_opgeloste_taken }}
            {% if taak_info.aantal_niet_opgeloste_taken > 1 %}
                taken
            {% else %}
                taak
            {% endif %}
        niet opgelost</span>
    {% endif %}
{% endblock content %}
