{% load vind_in_dict from querystring_tags %}
{% load vertaal from vertaal_tags %}
{% if view.is_stream %}
<turbo-stream target="melding_detail_titel" action="update">
    <template>
{% endif %}

    <h1 class="h2">
    {% if request.user.profiel.context.template == "benc" %}
        {% with grafnummer=melding.locaties_voor_melding.0.grafnummer vak=melding.locaties_voor_melding.0.vak plaats=melding.locaties_voor_melding.0.begraafplaats %}
            {% if grafnummer %}Grafnummer {{ grafnummer }}{% endif %}
            {% if grafnummer and vak %}, {% endif %}
            {% if vak %}Vak {{ vak }}{% endif %}
            {% if not grafnummer and not vak and plaats %}
                {% vind_in_dict melding.meta_uitgebreid.begraafplaats.choices plaats %}
                {% vind_in_dict melding.signalen_voor_melding.0.meta_uitgebreid.begraafplaats.choices plaats as signaal_begraafplaats_naam %}
                {% if signaal_begraafplaats_naam == melding.locaties_voor_melding.0.begraafplaats %}
                    {% vind_in_dict melding.meta_uitgebreid.begraafplaats.choices plaats %}
                {% else %}
                    {{ signaal_begraafplaats_naam }}
                {% endif %}
            {% endif %}
        {% endwith %}
    {% else %}
         {% with hoogste_gewicht_locatie=locaties.adressen|first %}
                {% if hoogste_gewicht_locatie.straatnaam %}
                    {{ hoogste_gewicht_locatie.straatnaam }}
                    {% spaceless %}
                        {% if hoogste_gewicht_locatie.huisnummer %}<span>{{ hoogste_gewicht_locatie.huisnummer }}</span>{% endif %}
                        {% if hoogste_gewicht_locatie.huisletter %}<span>{{ hoogste_gewicht_locatie.huisletter }}</span>{% endif %}
                    {% endspaceless %}
                    {% if hoogste_gewicht_locatie.toevoeging %}<span>{{ hoogste_gewicht_locatie.toevoeging }}</span>{% endif %}
                {% else %}
                    Melding {{ melding.id }}
                {% endif %}
            {% endwith %}
    {% endif %}
        {% if melding.status %}
            <span class="tag tag--qualification {% if melding.status.naam == 'afgehandeld' %}tag--opgelost{% elif melding.status.naam == 'controle' %}tag--controle{% elif melding.status.naam == 'in_behandeling' %}tag--in_behandeling{% elif melding.status.naam == 'geannuleerd' or melding.status.naam == 'wachten_melder' or melding.status.naam == 'pauze' %}tag--geannuleerd{% endif %}">
                {{ melding.status.naam|vertaal }}
                {% if melding.status.naam == "afgehandeld" %}
                    / {{ melding.resolutie }}
                    {% if melding.afhandelreden %}/ {{ melding.afhandelreden }}{% endif %}
                    {% if melding.specificatie.naam %}/ {{ melding.specificatie.naam }}{% endif %}
                {% endif %}
            </span>
        {% endif %}
        {% if melding.urgentie >= 0.5 %}
            <span class="tag tag--qualification tag--spoed">Spoed</span>
        {% endif %}
    </h1>
{% if view.is_stream %}
    </template>
</turbo-stream>
{% endif %}
