{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load json_encode from json_tags %}
{% load context_template from context_tags %}
<turbo-stream target="modal_header" action="update">
<template>
    <h1>
        <span>Melding
            {% if melding.urgentie >= .5 %}niet{% endif %}
        met spoed oppakken</span>
    </h1>
</template>
</turbo-stream>
<turbo-stream target="modal_body" action="update">
<template>
    <section class="section--separated" data-testid="detailReporter">
        <div class="container__details">
            <form action="{% url 'melding_spoed_veranderen' melding.uuid %}"
                  method="post"
                  class="form--horizontal"
                  data-turbo-frame="_top"
                  id="spoedVeranderenForm"
                  novalidate>
                {% csrf_token %}
                {{ form.urgentie }}
                <div class="form-control__with-helptext js-validation">{{ form.omschrijving_intern|render_rotterdam_formulier }}</div>
                <div class="form-row btn-row"></div>
                <div class="form-row btn-row">
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-controller="detail"
                            data-action="modal#closeModal">
                        <span>Annuleren</span>
                    </button>
                    <button type="submit" class="btn btn-action">
                        <span>{{ form.submit_label }}</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
</template>
</turbo-stream>
