{% include "melding/detail/taken.html" %}
{% include "melding/detail/melding_detail_titel.html" %}

<turbo-stream action="update" target="stream_melding_detail_status">
<template>
    {% include "melding/detail/status.html" %}
</template>
</turbo-stream>

<turbo-stream action="update" target="modal_body">
<template>
    <div data-modal-target="modalSluiten"></div>
</template>
</turbo-stream>

{% include "melding/detail/acties.html" %}
{% include "public/notificaties/toast_lijst.html" with messages=messages only %}
