{% load to_datetime naturalday_with_time_or_timesince from date_tags %}
{% load gebruikersnaam gebruikersinitialen get_gebruiker_object_middels_email from gebruikers_tags %}
{% load humanize %}
{% load mor_core_url from main_tags %}
{% load get taak_status_tekst taak_status_css_class api_url_to_user_url from melding_tags %}
{% load vertaal from vertaal_tags %}

{% if view.is_stream %}
<turbo-stream target="melding_detail_taken" action="update">
    <template>
{% endif %}

<section class="section--separated" data-testid="detailTaken">
    <div class="container__details">
        <h2>Status</h2>
        <div class="container__status">
            <div class="container__status--content">
                <div class="container__content cols--2">
                    <h3>Afgehandeld door</h3>
                    <div class="content">
                        <span class="initials">MS</span>
                        <div class="message">
                            <h4>Malik Schouten</h4>
                        </div>
                    </div>
                </div>
                <div class="container__content">
                    <h3>Reden</h3>
                    <div class="content">
                        <p>Niet nu</p>
                    </div>
                    <h3>Specificatie</h3>
                    <div class="content">
                        <p>Reeds ingediend</p>
                    </div>
                </div>
                <div class="container__content">
                    <h3>Interne opmerking</h3>
                    <div class="content container__overflow" data-controller="overflow">
                        <p class="content__overflow">
                            Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn. Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende.
                        </p>
                        {% include "icons/arrow-right.svg" %}
                    </div>
                </div>
                <div class="container__content cols--6">
                    <h3>Bericht voor melder</h3>
                    <div class="content container__overflow" data-controller="overflow">
                        <p class="content__overflow">
                            Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn. Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende.
                        </p>
                        {% include "icons/arrow-right.svg" %}
                    </div>
                </div>
                <div class="container__content cols--2">
                    <h3>Datum en tijd</h3>
                    <div class="content">
                        <p>04-04-2025 16.44</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container__status">
            <div class="container__status--content">
                <div class="container__content cols--2">
                    <h3>Afgehandeld door</h3>
                    <div class="content">
                        <span class="initials">MS</span>
                        <div class="message">
                            <h4>Malik Schouten</h4>
                        </div>
                    </div>
                </div>
                <div class="container__content">
                    <h3>Reden</h3>
                    <div class="content">
                        <p>Niet nu</p>
                    </div>
                    <h3>Specificatie</h3>
                    <div class="content">
                        <p>Reeds ingediend</p>
                    </div>
                </div>
                <div class="container__content cols--6">
                    <h3>Bericht voor melder</h3>
                    <div class="content container__overflow" data-controller="overflow">
                        <p class="content__overflow">
                            Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn. Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende.
                        </p>
                        {% include "icons/arrow-right.svg" %}
                    </div>
                </div>
                <div class="container__content cols--2">
                    <h3>Datum en tijd</h3>
                    <div class="content">
                        <p>04-04-2025 16.44</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container__status">
            <div class="container__status--content cols--4">
                <div class="container__content cols--2">
                    <h3>Afgehandeld door</h3>
                    <div class="content">
                        <span class="initials">MS</span>
                        <div class="message">
                            <h4>Malik Schouten</h4>
                        </div>
                    </div>
                </div>
                <div class="container__content cols--6">
                    <h3>Bericht voor melder</h3>
                    <div class="content container__overflow" data-controller="overflow">
                        <p class="content__overflow">
                            Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende maand uitgevoerd worden. Wij zullen u op  de hoogte houden wanneer de werkzaamheden gedaan zijn. Deze melding is al ingepland maar kan vanwege weersomstandigheden pas volgende.
                        </p>
                        {% include "icons/arrow-right.svg" %}
                    </div>
                </div>
                <div class="container__content cols--2">
                    <h3>Datum en tijd</h3>
                    <div class="content">
                        <p>04-04-2025 16.44</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% if view.is_stream %}
    </template>
</turbo-stream>
{% endif %}
