{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load json_encode from json_tags %}
<turbo-stream target="modal_header_title" action="update">
<template>
    Taak Annuleren
</template>
</turbo-stream>
<turbo-stream target="modal_body" action="update">
<template>
    {% if form.taakopdracht %}
        <form action="{% url 'taak_annuleren' melding.uuid %}"
              method="post"
              class="form--horizontal"
              data-turbo-frame="_top"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div data-controller="select2Modal">{{ form.taakopdracht|render_rotterdam_formulier }}</div>
            <div class="form-control__with-helptext">{{ form.omschrijving_intern|render_rotterdam_formulier }}</div>
            <div class="form-row btn-row">
                <button type="reset" class="btn btn-tertiary" data-action="modal#closeModal">
                    <span>Annuleren</span>
                </button>
                <button type="submit" class="btn btn-action">
                    <span>Taak annuleren</span>
                </button>
            </div>
        </form>
    {% else %}
        Alle taken zijn afgerond
    {% endif %}
</template>
</turbo-stream>
