{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load json_encode from json_tags %}
{% load get from melding_tags %}
<turbo-stream target="modal_content" action="update">
<template>
    <div class="modal-content stap1"
         data-controller="taken-aanmaken--manager"
         data-taken-aanmaken--manager-taaktypes-value="{{ taakr_taaktypes_niet_ingebruik_met_afdelingen|json_encode }}"
         data-taken-aanmaken--manager-openstaande-taken-value="{{ taken.openstaande_taken|json_encode }}"
         data-taken-aanmaken--manager-gebruiker-value="{{ request.user.email }}"
         data-taken-aanmaken--manager-melding-uuid-value="{{ view.kwargs.id }}"
         data-action="click->taken-aanmaken--manager#showHideSearchResult">
        <div class="modal-header border-bottom" id="modal_header">
            <h1>
                <span id="modal_header_title">Taken aanmaken</span>
                <small id="modal_header_subtitle"></small>
            </h1>
        </div>
        <div class="modal-body">
            <section class="section--separated" data-testid="meldingTakenAanmaken">
                <div class="container__details">
                    <!-- filteren en zoeken taaktypes -->
                    <div data-taken-aanmaken--manager-target="stap1" class="stap1">
                        <form class="taken-aanmaken">
                            <div data-controller="row-search"
                                 data-row-search-disable-result-highlight-value="false"
                                 class="container__search form-row list--form-text-input">
                                <input data-action="taken-aanmaken--manager#showHideSearchResult row-search#search"
                                       data-taken-aanmaken--manager-target="searchInput"
                                       type="search"
                                       class="form-control"
                                       placeholder="Zoek een taak..." />
                                <ul data-taken-aanmaken--manager-target="searchResultContainer"
                                    class="list__search-result">
                                    {% for taakr_taaktype in taakr_taaktypes_niet_ingebruik_met_afdelingen %}
                                        {% with taakr_taaktype_links=taakr_taaktype|get:"_links" %}
                                            <li data-row-search-target="row">
                                                <label for="id_search-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}">
                                                    <input type="checkbox"
                                                           data-taken-aanmaken--manager-target="taaktype"
                                                           data-taaktype-url="{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                           data-taken-aanmaken--manager-taaktype-url-param="{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                           data-action="taken-aanmaken--manager#taaktypeChangeHandler"
                                                           name="search"
                                                           value="search-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                           id="id_search-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                           class="form-check-input">
                                                    <span data-row-search-target="searchable">{{ taakr_taaktype.omschrijving }}</span>
                                                </label>
                                                <button class="btn btn-textlink btn-info"
                                                        data-action="infosheet#openInfosheet"
                                                        data-infosheet-action-param="{% url 'taaktype_taakr' %}?taakapplicatie-taaktype-url={{ taakr_taaktype_links.taakapplicatie_taaktype_url }}">
                                                    {% include "icons/info.svg" %}
                                                </button>
                                            </li>
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <h2 class="h3 hidden"
                                data-taken-aanmaken--manager-target="geselecteerdeTakenHeader">Geselecteerde taken</h2>
                            <ul data-taken-aanmaken--manager-target="geselecteerdeTaaktypesContainer"
                                class="list__pills">
                            </ul>
                            <div class="help-block error hidden"
                                 data-taken-aanmaken--manager-target="geselecteerdeTakenError">
                                <p>Je hebt het maximum van 10 taken tegelijkertijd bereikt. Ga naar de volgende stap.</p>
                            </div>
                            <div class="form-row input-labels">
                                <div data-taakstartenformulier-target="afdelingContainer">
                                    <ul class="list--level1 form-check-input">
                                        {% for afdeling in afdelingen_met_taakr_taaktypes_niet_ingebruik %}
                                            {% with afdeling_naam=afdeling.afdeling.naam %}
                                                <li>
                                                    <label for="id_{{ afdeling_naam }}">
                                                        <input type="radio"
                                                               data-taken-aanmaken--manager-target="afdeling"
                                                               data-value="{{ afdeling_naam }}"
                                                               name="afdeling"
                                                               value="{{ afdeling_naam }}"
                                                               id="id_{{ afdeling_naam }}"
                                                               data-action="taken-aanmaken--manager#afdelingChangeHandler"
                                                               data-taken-aanmaken--manager-afdeling-param="{{ afdeling_naam }}"
                                                               class="form-check-input"
                                                               {% if forloop.first %}checked{% endif %}>
                                                        {{ afdeling_naam }}
                                                    </label>
                                                    <ul data-taken-aanmaken--manager-target="afdelingTaaktypeContainer"
                                                        data-afdeling="{{ afdeling_naam }}"
                                                        class="list--level2 form-check-input">
                                                        {% for taakr_taaktype in afdeling.taakr_taaktypes %}
                                                            {% with taakr_taaktype_links=taakr_taaktype|get:"_links" %}
                                                                <li>
                                                                    <label for="id_{{ afdeling_naam }}-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}">
                                                                        <input type="checkbox"
                                                                               data-taken-aanmaken--manager-target="taaktype"
                                                                               data-taaktype-url="{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                                               data-taken-aanmaken--manager-taaktype-url-param="{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                                               data-action="taken-aanmaken--manager#taaktypeChangeHandler"
                                                                               name="{{ afdeling_naam }}"
                                                                               value="{{ afdeling_naam }}-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                                               id="id_{{ afdeling_naam }}-{{ taakr_taaktype_links.taakapplicatie_taaktype_url }}"
                                                                               class="form-check-input">
                                                                        <span>{{ taakr_taaktype.omschrijving }}</span>
                                                                    </label>
                                                                    <button class="btn btn-textlink btn-info"
                                                                            data-action="infosheet#openInfosheet"
                                                                            data-infosheet-action-param="{% url 'taaktype_taakr' %}?taakapplicatie-taaktype-url={{ taakr_taaktype_links.taakapplicatie_taaktype_url }}">
                                                                        {% include "icons/info.svg" %}
                                                                    </button>
                                                                </li>
                                                            {% endwith %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div data-taken-aanmaken--manager-target="stap2"
                         class="stap2"
                         id="taken_aanmaken_form">
                        {% include "melding/detail/taken_aanmaken_form.html" with form=form view=view disable_stream=True %}
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer border-top">
            <div class="form-row btn-row">
                <button type="reset"
                        class="btn btn-tertiary stap1"
                        data-action="modal#closeModal">
                    <span>Annuleren</span>
                </button>
                <button class="btn btn-tertiary stap2"
                        data-taken-aanmaken--manager-target="knopVorige"
                        data-action="taken-aanmaken--manager#gotoPreviousStep">
                    <span>Vorige</span>
                </button>
                <button class="btn btn-action stap1"
                        data-taken-aanmaken--manager-target="knopVolgende"
                        data-action="taken-aanmaken--manager#gotoNextStep"
                        disabled>
                    <span>Volgende</span>
                </button>
                <button type="submit"
                        disabled
                        form="formTakenAanmaken"
                        class="btn btn-action stap2"
                        data-taken-aanmaken--manager-target="knopAanmaken">
                    {% comment %}  TODO get number of taaktypes for "Taak" or "Taken" {% endcomment %}
                    <span>Aanmaken</span>
                </button>
            </div>
        </div>
    </div>
    <template id="template_geselecteerd_taaktype">
        <li data-taken-aanmaken--manager-target="geselecteerdTaaktype">
            {# djlint:off #}
                <span></span>
            {# djlint:on #}
            <button class="btn--clean"
                    data-action="taken-aanmaken--manager#taaktypeVerwijderenHandler:prevent">
                {% include "icons/close.svg" %}
            </button>
        </li>
    </template>
    <template id="template_geselecteerd_formulier_taaktype">
        <li data-taken-aanmaken--manager-target="geselecteerdFormulierTaaktype" data-parents="[]">
            <details data-action="taken-aanmaken--manager#toggleDetailsHandler">
                <summary>
                    <div class="container__titel">
                        <span data-titel></span>
                    </div>
                    <div>
                        <span data-verantwoordelijke-afdeling></span>
                    </div>
                    <div>
                        <span class="cta--summary">Opmerking toevoegen</span>
                    </div>
                    <div data-status>
                        <span data-status-tag class="tag tag--qualification tag--in_de_wacht" style="display: none;">In de wacht</span>
                    </div>
                    <div class="container__uitklapper">
                        <span>{% include "icons/dots.svg" %}</span>
                        <div class="legenda">

                                <button type="button"
                                        class="btn"
                                        data-action="taken-aanmaken--manager#taaktypeVerwijderenHandler:prevent">
                                    {% include "icons/bin.svg" %}
                                </button>

                                <button type="button"
                                        class="btn"
                                        data-action="taken-aanmaken--manager#showParentOptionsHandler:prevent">
                                    Wachten op...
                                </button>
                        </div>
                    </div>
                    <ul data-parents-options-container></ul>
                </summary>
                <div class="container__flex">
                    <div>
                        <h3>Taak</h3>
                        <strong>
                            <span data-omschrijving></span>
                            <button class="btn btn-textlink btn-info"
                                    data-action="infosheet#openInfosheet"
                                    data-infosheet-action-param="{% url 'taaktype_taakr' %}?taakapplicatie-taaktype-url=">
                                {% include "icons/info.svg" %}
                                <span>Meer info</span>
                            </button>
                        </strong>
                        <p data-toelichting></p>
                        <h3>Afdeling(en)</h3>
                        <span data-afdelingen></span>
                    </div>
                    <div>
                        <h3>Opmerking</h3>
                        <textarea name="form-0-bericht"
                                  maxlength="5000"
                                  rows="4"
                                  id="id_form-0-bericht"
                                  data-action="taken-aanmaken--manager#taaktypeBerichtHandler"
                                  placeholder="Type om een bericht toe te voegen..."></textarea>
                        <p class="help-text">De opmerking wordt met de uitvoerder gedeeld.</p>
                        <input type="hidden"
                               name="form-0-titel"
                               maxlength="200"
                               id="id_form-0-titel">
                        <input type="hidden"
                               name="form-0-melding_uuid"
                               id="id_form-0-melding_uuid"
                               value="">
                        <input type="hidden"
                               name="form-0-taakapplicatie_taaktype_url"
                               id="id_form-0-taakapplicatie_taaktype_url"
                               value="">
                        <input type="hidden"
                               name="form-0-gebruiker"
                               id="id_form-0-gebruiker"
                               value="">
                        <input type="hidden"
                               name="form-0-uuid"
                               id="id_form-0-uuid"
                               value="">
                        <input type="hidden"
                               name="form-0-parents"
                               id="id_form-0-parents"
                               value="[]">
                    </div>
                </div>
            </details>
        </li>
    </template>
</template>
</turbo-stream>
