{% extends "snippets/turbo_stream_wrapper.html" %}
{% load laatste_slug_van_url from main_tags %}
{% load mor_core_url from main_tags %}
{% load to_datetime from date_tags %}
{% load taakopdracht melding_naar_tijdlijn from melding_tags %}
{% load multiply previous next from list_tags %}
{% load get_gebruiker_object_middels_email from gebruikers_tags %}
{% load vertaal from vertaal_tags %}
<!-- djlint:off -->
{% block action %}update{% endblock action %}
{% block target %}melding_detail_tijdlijn{% endblock target %}
<!-- djlint:on -->
{% block content %}
    {% melding_naar_tijdlijn melding as tijdlijn_data %}
    <ul class="list__mutations">
        {% for row_data in tijdlijn_data %}
            {% with previous_row_data=tijdlijn_data|previous:forloop.counter0 %}
                {% with next_row_data=tijdlijn_data|next:forloop.counter0 %}
                    <li data-controller="datetime">
                        <details>
                            {% if not melding.afgesloten_op or not forloop.first %}
                                {% for cel in next_row_data.row %}
                                    {% if cel == 1 or cel == 0 %}
                                        <span class="line {% if forloop.counter0 == 0 %}line-melding{% else %}line-taak{% endif %} {% if not row_data.afgesloten %}line--dashed{% endif %}"
                                              style="left: {{ forloop.counter|multiply:20|add:6 }}px"></span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <summary>
                                {% if not melding.afgesloten_op or not forloop.first %}
                                    {% for cel in next_row_data.row %}
                                        {% if cel == 1 or cel == 0 or cel == 3 %}
                                            <span class="line {% if forloop.counter0 == 0 %}line-melding{% else %}line-taak{% endif %} {% if not row_data.afgesloten %}line--dashed{% endif %}"
                                                  style="left: {{ forloop.counter|multiply:20|add:6 }}px"></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if melding.afgesloten_op and forloop.counter0 == 1 %}
                                    {% for cel in next_row_data.row %}
                                        {% if cel == 1 or cel == 0 %}
                                            <span class="event {% if forloop.counter0 == 0 %}{% else %}event-taak{% endif %}"
                                                  style="left: {{ forloop.counter|multiply:20 }}px"></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% for cel in row_data.row %}
                                    {% if cel == 1 or cel == 2 or cel == 3 %}
                                        <span class="event {% if forloop.counter0 == 0 %}event-melding{% else %}event-taak{% endif %}"
                                              style="left: {{ forloop.counter|multiply:20 }}px"></span>
                                    {% endif %}
                                {% endfor %}
                                {% if not forloop.first %}
                                    <strong {% if row_data.mg.taakgebeurtenis %}{% with taakopdracht=melding|taakopdracht:row_data.mg.taakgebeurtenis.taakopdracht %}data-taak-uuid="{{ taakopdracht.taak_url|laatste_slug_van_url }}"{% endwith %}{% endif %}>
                                        {% if row_data.mg.taakgebeurtenis %}
                                            {% with taakopdracht=melding|taakopdracht:row_data.mg.taakgebeurtenis.taakopdracht %}
                                                {{ taakopdracht.titel }}
                                                {% if row_data.mg.taakgebeurtenis.gebeurtenis_type == "gedeeld" %}
                                                    : gedeeld
                                                {% elif row_data.mg.taakgebeurtenis.verwijderd_op %}
                                                    : verwijderd
                                                {% elif row_data.mg.taakgebeurtenis.taakstatus.naam != "nieuw" %}
                                                    :
                                                    {% if row_data.mg.taakgebeurtenis.taakstatus.naam == "voltooid" or row_data.mg.taakgebeurtenis.taakstatus.naam == "voltooid_met_feedback" %}
                                                        {{ row_data.mg.taakgebeurtenis.resolutie|vertaal }}
                                                        <span class="visually-hidden" data-datetime-target="resolutie">{{ row_data.mg.taakgebeurtenis.resolutie }}</span>
                                                    {% else %}
                                                        {{ row_data.mg.taakgebeurtenis.taakstatus.naam }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endwith %}
                                        {% elif row_data.mg.locatie %}
                                            Locatie aangepast
                                        {% elif row_data.mg.gebeurtenis_type == "status_wijziging" %}
                                            Status {{ row_data.mg.status.naam|vertaal|lower }}
                                        {% else %}
                                            {% comment %} {% if row_data.mg.status %} {% endcomment %}
                                            {% if row_data.mg.status.naam == 'afgehandeld' %}
                                                {{ row_data.mg.status.naam|vertaal }}
                                            {% elif row_data.mg.gebeurtenis_type %}
                                                {{ row_data.mg.gebeurtenis_type|vertaal }}
                                            {% endif %}
                                        {% endif %}
                                    </strong>
                                {% endif %}
                            </summary>
                            {% if row_data.mg %}
                                <div class="content">
                                    <div class="wrapper">
                                        <dl>
                                            {% if row_data.mg.taakgebeurtenis %}
                                                {% if row_data.mg.taakgebeurtenis.gebeurtenis_type == "gedeeld" %}
                                                    <dt>Datum</dt>
                                                    <dd>
                                                        {{ row_data.mg.taakgebeurtenis.aangemaakt_op|to_datetime }}
                                                    </dd>
                                                    {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.taakgebeurtenis.gebruiker|get_gebruiker_object_middels_email %}
                                                {% elif row_data.mg.taakgebeurtenis.taakstatus.naam|lower != "nieuw" and not row_data.mg.taakgebeurtenis.verwijderd_op %}
                                                    {% if row_data.mg.taakgebeurtenis.aangemaakt_op %}
                                                        <dt>Taak afgehandeld</dt>
                                                        <dd>
                                                            {{ row_data.mg.taakgebeurtenis.aangemaakt_op|to_datetime }}
                                                        </dd>
                                                    {% endif %}
                                                    {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.taakgebeurtenis.gebruiker|get_gebruiker_object_middels_email %}
                                                    <dt>Status</dt>
                                                    <dd>
                                                        {% if row_data.mg.taakgebeurtenis.resolutie %}{{ row_data.mg.taakgebeurtenis.resolutie|vertaal }}{% endif %}
                                                    </dd>
                                                {% elif row_data.mg.taakgebeurtenis.verwijderd_op %}
                                                    <dt>Taak verwijderd</dt>
                                                    <dd>
                                                        {{ row_data.mg.taakgebeurtenis.verwijderd_op|to_datetime }}
                                                    </dd>
                                                    {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.taakgebeurtenis.gebruiker|get_gebruiker_object_middels_email %}
                                                {% elif row_data.mg.taakgebeurtenis.taakstatus.naam|lower == "nieuw" %}
                                                    {% if row_data.mg.taakgebeurtenis.aangemaakt_op %}
                                                        <dt>Taak aangemaakt</dt>
                                                        <dd>
                                                            {{ row_data.mg.taakgebeurtenis.aangemaakt_op|to_datetime }}
                                                        </dd>
                                                    {% endif %}
                                                    {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.taakgebeurtenis.gebruiker|get_gebruiker_object_middels_email %}
                                                    <dt>Status</dt>
                                                    <dd>
                                                        {{ row_data.mg.taakgebeurtenis.taakstatus.naam }}
                                                    </dd>
                                                {% endif %}
                                                {% if row_data.mg.taakgebeurtenis.omschrijving_intern %}
                                                    <dt>Interne opmerking</dt>
                                                    <dd>
                                                        {{ row_data.mg.taakgebeurtenis.omschrijving_intern }}
                                                    </dd>
                                                {% endif %}
                                            {% elif row_data.mg.locatie %}
                                                {% if row_data.mg.aangemaakt_op %}
                                                    <dt>Locatie aangepast</dt>
                                                    <dd>
                                                        {{ row_data.mg.aangemaakt_op|to_datetime }}
                                                    </dd>
                                                {% endif %}
                                                {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.gebruiker|get_gebruiker_object_middels_email %}
                                                {% if row_data.mg.omschrijving_intern %}
                                                    <dt>Interne opmerking</dt>
                                                    <dd>
                                                        {{ row_data.mg.omschrijving_intern }}
                                                    </dd>
                                                {% endif %}
                                                {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.taakgebeurtenis.additionele_informatie.uitvoerder|get_gebruiker_object_middels_email %}
                                            {% elif row_data.mg.urgentie %}
                                                {% if row_data.mg.aangemaakt_op %}
                                                    <dt>
                                                        {% if row_data.mg.urgentie >= .5 %}
                                                            Melding met spoed oppakken
                                                        {% else %}
                                                            Spoed-status geannuleerd
                                                        {% endif %}
                                                    </dt>
                                                    <dd>
                                                        {{ row_data.mg.aangemaakt_op|to_datetime }}
                                                    </dd>
                                                {% endif %}
                                                {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.gebruiker|get_gebruiker_object_middels_email %}
                                                {% if row_data.mg.omschrijving_intern %}
                                                    <dt>Interne opmerking</dt>
                                                    <dd>
                                                        {{ row_data.mg.omschrijving_intern }}
                                                    </dd>
                                                {% endif %}
                                            {% else %}
                                                {% if row_data.mg.aangemaakt_op and row_data.mg.gebeurtenis_type != "status_wijziging" %}
                                                    <dt>Datum</dt>
                                                    <dd>
                                                        {{ row_data.mg.aangemaakt_op|to_datetime }}
                                                    </dd>
                                                {% else %}
                                                    <dt>{{ row_data.mg.status.naam|vertaal }}</dt>
                                                    <dd>
                                                        {{ row_data.mg.aangemaakt_op|to_datetime }}
                                                    </dd>
                                                {% endif %}
                                                {% include "melding/gebruiker_modal_link.html" with gebruiker=row_data.mg.gebruiker|get_gebruiker_object_middels_email %}
                                                {% if row_data.mg.omschrijving_extern %}
                                                    <dt>Bericht voor de melder</dt>
                                                    <dd>
                                                        {{ row_data.mg.omschrijving_extern }}
                                                    </dd>
                                                {% endif %}
                                                {% if row_data.mg.omschrijving_intern %}
                                                    <dt>Interne opmerking</dt>
                                                    <dd>
                                                        {{ row_data.mg.omschrijving_intern }}
                                                    </dd>
                                                {% endif %}
                                            {% endif %}
                                        </dl>
                                        {% if row_data.mg.taakgebeurtenis %}
                                            {% if row_data.mg.taakgebeurtenis.bijlagen|length %}
                                                <div class="container__thumbs">
                                                    <ul>
                                                        {% for bijlage in row_data.mg.taakgebeurtenis.bijlagen %}
                                                            <li>
                                                                <div class="container__image">
                                                                    <div class="image"
                                                                         style="background-image:url('{{ bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if row_data.mg.bijlagen|length %}
                                                <div class="container__thumbs">
                                                    <ul>
                                                        {% for bijlage in row_data.mg.bijlagen %}
                                                            <li>
                                                                <div class="container__image">
                                                                    <div class="image"
                                                                         style="background-image:url('{{ bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if forloop.last %}
                                            {% if melding.bijlagen|length %}
                                                <div class="container__thumbs">
                                                    <ul>
                                                        {% for bijlage in melding.bijlagen %}
                                                            <li>
                                                                <div class="container__image">
                                                                    <div class="image"
                                                                         style="background-image:url('{{ bijlage.afbeelding_verkleind_relative_url|mor_core_url }}')">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </details>
                    </li>
                {% endwith %}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock content %}
