@mixin focus-outline {
    outline-style: solid !important;
    outline-width: thin !important;
    outline-color: $gray-tint11 !important;
}

html,
body {
    margin: 0;
    font-family: "Bolder", sans-serif;
    font-size: 1em;
    color: $gray-tint11;
    background-color: $gray-tint00;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        font-size: 1.125em;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

html {
    height: 100%;
}

body,
main,
header {
    margin: 0 auto;

    > .container,
    > .container--env .container {
        display: block;
        max-width: map-get($container-max-widths, xxl);
        margin: 0 auto;
    }
}

body.wide--xl {
    main,
    header,
    .container--env {
        > .container {
            max-width: 1250px;
        }
    }
}

main,
header {
    padding: 0 map-get($container-margin, s) 16px;
}

main {
    padding-bottom: 100px;
}

.skiplink {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

.screen-xl {
    display: none;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: block;
    }
}
.screen-xl--notification {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: none;
    }
}
.grid-container {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    gap: 32px;

    + .grid-container {
        margin-top: 32px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        grid-template-columns: 66fr 34fr;

        &.grid-container--full {
            grid-template-columns: 1fr;
        }
        &.grid-container--reversed {
            grid-template-columns: 34fr 66fr;
        }
        &.grid-container--3cols {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.grid-container--4cols {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &.grid-container--5cols {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        &.grid-container--half {
            grid-template-columns: 1fr 1fr;
        }
    }

    .grid-item {
        box-sizing: content-box;
        min-width: 0; // when min-widh is not set, nested charts are not animating..
        &.bottom-left {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            > * {
                align-self: flex-start;
            }
        }
    }
}

// HEADINGS
h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}
h3,
.h3 {
    font-size: $h3-font-size;
}
h4,
.h4 {
    font-size: $h4-font-size;
}
h5,
.h5 {
    font-size: $h5-font-size;
}
h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    line-height: $line-height-base;
    max-width: map-get($container-max-widths, lg);
}

@mixin has-icon {
    display: inline-block;
    margin-left: 25px;
    position: relative;

    svg {
        position: absolute;
        left: -25px;
        top: 4px;

        path {
            fill: $primary;
        }
    }
}
// TABLES
table {
    font-size: 0.875em;
    border-collapse: collapse;
    width: 100%;

    tr:nth-child(even) {
        background-color: $gray-tint01;
    }
    th,
    td {
        padding: 10px 5px 10px 0;
    }
    thead {
        th {
            text-align: left;
            border-bottom: 2px solid $gray-tint11;
        }
    }
    tbody {
        td {
            vertical-align: middle;

            &:first-child {
                padding: 0;
            }

            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}

a,
.link {
    color: $primary;
    text-decoration: $link-decoration;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        @include focus-outline();
    }

    &.link--location {
        @include has-icon();
    }

    &.link--email,
    &.link--phone {
        display: flex;
        align-items: center;

        svg {
            margin-right: 4px;
        }
    }

    &.link--next {
        @include has-icon();
    }

    &.link--back {
        @include has-icon();
        padding-left: 10px;
        font-size: 0.875em;
        font-weight: 700;
        > svg {
            left: -20px;
            top: 3px;
            padding-right: 20px;
        }
    }

    &.no--link {
        text-decoration: none;
        color: inherit;
        outline: none !important;
        display: inline-block;
    }

    &.link--file {
        @include has-icon();
    }

    &.link--file-text {
        @include has-icon();
    }
    &.link--bin {
        @include has-icon();
    }
}

button {
    &.link--next {
        @include has-icon();
    }
}

p {
    &.text--person {
        display: flex;
        align-items: center;

        svg {
            margin-right: 4px;
        }
    }

    &.text--close {
        @include has-icon();
        svg {
            top: 6px;
        }
    }
}

.icon {
    @include has-icon();

    &--warning {
        &:before {
            content: url("../icons/warning.svg");
            top: -1px;
        }
    }
}

.warning-spoed {
    svg {
        vertical-align: sub;
        width: 24px;
        height: 24px;
        path {
            fill: #db5f06;
        }
    }

    .form-check-label & {
        svg {
            vertical-align: top;
            path {
                fill: #db5f06;
            }
        }
    }
}

.warning-spoed {
    svg {
        vertical-align: sub;
        width: 24px;
        height: 24px;
        path {
            fill: #db5f06;
        }
    }

    .form-check-label & {
        svg {
            vertical-align: top;
            path {
                fill: #db5f06;
            }
        }
    }
}

// LISTS

@mixin list-clean {
    list-style-type: none;
    padding: 0;
}

ul {
    &.list-clean,
    &.form-check-input {
        @include list-clean();
    }

    &.list--readable {
        li {
            margin-bottom: 0.25rem;
        }
    }

    &.list-horizontal {
        @include list-clean();
        margin: 0;
        display: flex;
        li:not(:last-child) {
            margin-right: 12px;
        }
    }
    &.list-flex {
        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: flex;
            flex-wrap: wrap;
            li {
                flex: 1 0 50%;
            }
        }
    }

    &.list-links {
        @include list-clean();
        li {
            margin: 0.5rem 0;
        }
    }

    &.list-persons {
        @include list-clean();
        padding-left: 0 !important;
        li {
            position: relative;
            padding-left: 30px;
            :before {
                content: url("../icons/person.svg");
                position: absolute;
                top: calc(50% - 10px);
                left: 0;
            }

            a {
                color: $green-tint01;
            }
        }
    }
    &.list--images {
        @include list-clean();
        li {
            margin-bottom: 1em;

            img {
                max-width: 100%;
            }
        }
    }

    &.form-check-input {
        > li {
            font-weight: 700;
        }

        ul {
            @include list-clean();
            flex-wrap: wrap;
            margin-bottom: 1em;

            li {
                margin: 0.5em 0 0.5em -4px;

                label {
                    font-weight: 400;
                    input {
                        vertical-align: sub;
                    }
                }
            }

            @media (min-width: map-get($grid-breakpoints, md)) {
                display: flex;
                li {
                    flex: 1 0 50%;

                    &:nth-child(odd) {
                        padding-left: 1.5em;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}
li {
    &.list-item {
        border-bottom: 1px solid $gray-tint04;
    }

    .border-top & {
        &:first-child {
            border-top: 1px solid $gray-tint04;
        }
    }
}

dl {
    dt {
        font-weight: 700;
    }
    dd {
        margin: 0 0 0.5rem;
        font-weight: 400;
    }
}
dl {
    div {
        display: flex;

        dd,
        dt {
            margin: 0 0 0.5rem;
        }
        dd {
            flex: 1 1 60%;
            max-width: 60%;
        }
        dt {
            flex: 1 1 40%;
            box-sizing: border-box;
            padding-right: 0.5rem;
        }
    }

    &.list-horizontal {
        display: flex;
    }
}

.list--blocks-horizontal {
    @include list-clean();
    display: flex;
    margin-bottom: 100px;
    li {
        margin: 0 0 0 0.25rem;
        padding: $input-padding-x;
        border: 1px solid $gray-tint04;
        position: relative;
    }
}

// SECTIONS
section {
    &.section--seperated {
        padding: 1em 0 0.75em;

        &__no-border-bottom {
            border-bottom: 0;
        }
    }
    &.section--seperated--l {
        padding: 1em 0 4em;
        border-bottom: 1px solid #a6a6a6;

        &:last-child {
            border: none;
        }
    }
}

// STICKY

.has-sticky-footer {
    padding-bottom: 130px;
}
.sticky {
    position: fixed;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    left: 0;
    z-index: 2000;

    &--bottom {
        bottom: 0;
    }
}

// ERRORPAGES
body.no-js {
    .no-js {
        display: none;
    }
}

// HELPER-CLASSES

.align-right {
    text--align: right;
}
.foldout {
    height: auto;
    overflow: hidden;
}

.hidden {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.show-vertical {
    max-height: 100%;
    padding-top: 16px;
    transition: all 0.25s ease-in;

    &.container__sorting {
        max-height: 100px;
    }
}

.help-text {
    font-size: 0.875em;
    color: $gray-tint09;
}

.js-hidden {
    display: none !important;
}

.hidden-vertical {
    // display: none;
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in;
    &.container__sorting {
        transition: all 0.25s ease-in;
    }
}

.visually-hidden {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    pointer-events: none;
}

.bgc-white {
    background-color: $white;
}
.bgc-gray01 {
    background-color: $gray-tint01;
}

.green {
    color: $green-tint01;
}
.nowrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-top {
    margin-top: 1em;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.padding--bottom {
    padding-bottom: 1em !important;
}

.margin--bottom {
    margin-bottom: 1em !important;
}

.display--flex {
    display: flex;
}

.display--flex--md {
    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
    }
}

.display--flex--center {
    display: flex;
    align-items: center;
}

.wrapper-horizontal {
    display: flex;
}

.invalid-text {
    color: $invalid-color !important;
    margin: 0.25rem 0 !important;
}

.border-green {
    border-top: 8px solid $green-tint01;
}

.border-bottom {
    border-bottom: 1px solid $gray-600;
}

.bar {
    background-color: $gray-tint01;
    &--top {
        height: 48px;
        width: 100%;

        .list-nav--tertiary {
            small {
                @extend .visually-hidden;
            }
        }

        @media (min-width: map-get($grid-breakpoints, lg)) {
            .list-nav--tertiary {
                small {
                    display: inline;
                    position: relative;
                    overflow: visible;
                    clip: auto;
                    height: auto;
                    width: auto;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    pointer-events: all;
                }
            }
        }
    }
}

.counter {
    display: block;
    margin-top: -1.5em;
    margin-left: 1em;
    font-size: 0.75rem;
}

.p-0-20 {
    padding: 0 20px;
}

.p-8-0-4 {
    padding: 8px 0 4px;
}

.p-50-20 {
    padding: 50px 20px;
}

.email-table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
    background: #ffffff;
}

.email-border-bottom {
    border-bottom: 1px solid #d3d3d3;
}

.link--whatsapp {
    display: inline-block;
    margin-left: 12px;
}

.container__overflow {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 2.7em;
    -webkit-box-orient: vertical;
    width: 100%;
    z-index: 20;
    transition: max-height 0.25s ease-in-out;
    background-color: inherit;

    svg {
        display: none;
        position: absolute;
        bottom: 0;
        right: 1em;
        transform: rotate(90deg);
        path {
            fill: currentColor;
        }
    }

    &.has-overflow {
        margin-right: 1em;
        padding-right: 1.6em;
        box-sizing: border-box;
        svg {
            display: block;
        }
    }

    &.show {
        -webkit-line-clamp: unset;
        max-height: 20em;
        border: 1px solid $gray-600;
        padding: 0.25em 1.35em 0.25em 0.25em;
        svg {
            transform: rotate(-90deg);
            right: 0.75em;
            bottom: 0.7em;
        }
    }
}
