{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load l10n %}
{% load humanize %}
{% load tz %}
{% load json_encode from json_tags %}
{% block title %}
    Dashboard | PlanR
{% endblock title %}
{% block body_class %}
    wide--xl
{% endblock body_class %}
{% block body %}
    <turbo-frame id="overview" data-turbo-action="advance">
    <div>
        <h1>Dashboard</h1>
        <p>Jaar: {{ jaar }}, week: {{ week }}</p>
    </div>
    <div class="screen-xl">
        {% comment %} <section class="section--seperated--l">
            <form action="." method="get">
                {{ form.as_p }}
                <input type="submit" value="Toon">
            </form>
        </section> {% endcomment %}
        <section class="section--seperated--l">
            <h2>Aantallen</h2>
            <div class="grid-container" data-controller="chart-utils">
                <div class="grid-item bgc-white"
                     data-controller="chart-line"
                     data-chart-line-data-value='{{ aantallen_tabs.0|json_encode }}'>
                    <div class="dashboard-item">
                        <div class="container__flex">
                            <div>
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                    Week {{ week }}
                                </span>
                                <h4>
                                    Nieuwe
                                    <br>
                                    meldingen/signalen
                                </h4>
                            </div>
                            <div>
                                <ul class="list-horizontal">
                                    {% for tab in aantallen_tabs %}
                                        <li>
                                            <button data-chart-line-target="button"
                                                    data-action="chart-line#update"
                                                    data-chart-line-datasets-param="{{ tab.datasets|json_encode }}"
                                                    class="{% if forloop.first %} active{% endif %}">
                                                <span class="h3">
                                                    {% for aantal in tab.aantallen %}
                                                        <span data-chart-utils-target="numberAnimator"
                                                              class="width--fixed"
                                                              data-number="{{ aantal }}">{{ aantal }}</span>
                                                        {% if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </span>
                                                <span class="decorated">{{ tab.titel }}</span>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div>
                            <canvas data-chart-line-target="canvas"></canvas>
                        </div>
                        <div class="dashboard-item-footer">
                            <p>
                                <a href="#">Toon deze meldingen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <h3>Week navigatie</h3>
                    <ul>
                        {% if vorige_volgende_week.0 %}
                            <li>
                                <a href="{{ vorige_volgende_week.0.0 }}">Week {{ vorige_volgende_week.0.1 }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <span>Deze week {{ week }}</span>
                        </li>
                        {% if vorige_volgende_week.1 %}
                            <li>
                                <a href="{{ vorige_volgende_week.1.0 }}">Week {{ vorige_volgende_week.1.1 }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="section--seperated--l">
            <h2>Status veranderingen duur</h2>
            <div class="grid-container" data-controller="chart-utils">
                <div class="grid-item bgc-white"
                     data-controller="chart-line"
                     data-chart-line-y-ticks-value='duration'
                     data-chart-line-data-value='{{ status_veranderingen_tabs.0|json_encode }}'>
                    <div class="dashboard-item">
                        <div class="container__flex">
                            <div>
                                <span class="h6">
                                    {% include "icons/dashboard.svg" %}
                                    Week {{ week }}
                                </span>
                                <h4>
                                    Status veranderingen
                                    <br>
                                    gemiddeld in seconden
                                </h4>
                            </div>
                            <div>
                                <ul class="list-horizontal">
                                    {% for tab in status_veranderingen_tabs %}
                                        <li>
                                            <button data-chart-line-target="button"
                                                    data-action="chart-line#update"
                                                    data-chart-line-datasets-param="{{ tab.datasets|json_encode }}"
                                                    class="{% if forloop.first %} active{% endif %}">
                                                <span class="h3">
                                                    {% for aantal in tab.aantallen %}
                                                        <span data-chart-utils-target="numberAnimator"
                                                              class="width--fixed"
                                                              data-number="{{ aantal }}">{{ aantal }}</span>
                                                        {% if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </span>
                                                <span class="decorated">{{ tab.titel }}</span>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div>
                            <canvas data-chart-line-target="canvas"></canvas>
                        </div>
                        <div class="dashboard-item-footer">
                            <p>
                                <a href="#">Toon deze meldingen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item bgc-white">
                    <h3>Week navigatie</h3>
                    <ul>
                        {% if vorige_volgende_week.0 %}
                            <li>
                                <a href="{{ vorige_volgende_week.0.0 }}">Week {{ vorige_volgende_week.0.1 }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <span>Deze week {{ week }}</span>
                        </li>
                        {% if vorige_volgende_week.1 %}
                            <li>
                                <a href="{{ vorige_volgende_week.1.0 }}">Week {{ vorige_volgende_week.1.1 }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="section--seperated--l">
            <div data-controller="dashboardMap">
                <div class="container__map full-width">
                    <div data-dashboardMap-target="map"
                         class="map leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
                         style="background-color: unset;
                                border: none"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="screen-xl--notification">
        <p>Deze pagina is alleen te bekijken op een groter scherm.</p>
    </div>
    </turbo-frame>
{% endblock body %}
