{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}
{% block title %}
    Standaard Tekst {% if object %}Aanpassen{% else %}Aanmaken{% endif %} | Beheer | PlanR
{% endblock title %}
{% block header %}
    {% with pageTitle="Beheer" %}
        {% include "snippets/pageheader.html" %}
    {% endwith %}
{% endblock header %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer">
        <div>
            <a href="{% url 'standaard_externe_omschrijving_lijst' %}"
               data-turbo-action="advance"
               class="link--back">
                {% include "icons/arrow-short.svg" %}
                <span>Standaard teksten overzicht</span>
            </a>
        </div>
        <h1>Standaard tekst {% if object %}aanpassen{% else %}aanmaken{% endif %}</h1>
        <div class="grid-container">
            <div class="grid-item">
                <form action="."
                      method="post"
                      data-controller="externeomschrijvingformulier"
                      data-externeomschrijvingformulier-melding-afhandelreden-lijst-value="{{ melding_afhandelreden_lijst|json_encode }}"
                      data-turbo="false"
                      enctype="multipart/form-data"
                      novalidate>
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.titel|render_rotterdam_formulier }}</div>
                        <div class="form-control__with-helptext js-validation">{{ form.tekst|render_rotterdam_formulier }}</div>
                    </fieldset>
                    <fieldset>
                        <div class="form-control__with-helptext js-validation">{{ form.zichtbaarheid|render_rotterdam_formulier }}</div>
                    </fieldset>
                    {% if melding_afhandelreden_lijst %}
                    <fieldset data-externeomschrijvingformulier-target="nietOpgelostContainer">
                        <div class="form-control__with-helptext js-validation">{{ form.reden|render_rotterdam_formulier }}</div>
                    </fieldset>
                    <fieldset data-externeomschrijvingformulier-target="nietOpgelostSpecificatiesContainer">
                        <div class="form-control__with-helptext js-validation">{{ form.specificatie_opties|render_rotterdam_formulier }}</div>
                    </fieldset>
                    {% else %}
                    <div class="alert alert--warning">
                        <span>
                            <svg width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0001 6.21851L26.6516 26L5.34849 26L16.0001 6.21851ZM14.2391 5.2703C14.9943 3.8679 17.0059 3.86791 17.761 5.27031L28.4126 25.0518C29.13 26.3843 28.165 28 26.6516 28H5.34849C3.83514 28 2.87007 26.3842 3.58755 25.0518L14.2391 5.2703ZM15.0001 12H17.0001V20H15.0001V12ZM15.0001 24V22H17.0001V24H15.0001Z" fill="#A65600" />
                            </svg>
                        </span>
                        <div>
                            <span>
                                Er zijn nog geen afhandelredenen ingesteld voor de resolutie `Niet opgelost`, daarom is deze optie niet beschikbaar.<br>
                                Vraag een functioneelbeheerder om deze in te stellen.
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'standaard_externe_omschrijving_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            <button type="submit" class="btn btn-action" data-externeomschrijvingformulier-target="submitButton">
                                <span>{% if object %}Aanpassen{% else %}Aanmaken{% endif %}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
