name: "Build and deploy"

on:
  push:
    branches:
      - main
      - develop

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - id: convert_image_name
        name: Convert image name to lower case
        env:
          IMAGE_NAME: ${{ github.repository }}
        run: php -r "echo 'name=' . strtolower(getenv('IMAGE_NAME'));" >> "$GITHUB_OUTPUT"
      - id: login
        name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta_app
        name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ steps.convert_image_name.outputs.name }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=sha
            type=sha,format=long
      - id: build_push
        name: Build and push app Docker image
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:app"
          push: true
          tags: ${{ steps.meta_app.outputs.tags }}
          labels: ${{ steps.meta_app.outputs.labels }}
          build-args: |
            GIT_SHA=${{ github.sha }}
    outputs:
      image_name: ${{ steps.convert_image_name.outputs.name }}
      image_id: ${{ steps.build_push.outputs.imageid }}
      image_digest: ${{ steps.build_push.outputs.digest }}
      image_metadata: ${{ steps.build_push.outputs.metadata }}

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    needs:
      - build
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull the image from the registry
        run: docker image pull ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }}
      #- name: Create container
      #  run: docker container create --name=app ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }}
      #- name: Start container
      #  run: docker container start app
      #- name: Run a command inside the container
      #  run: docker container exec app sh -c "ls -larth"
      #- name: Stop container
      #  run: docker container stop app --timeout=5
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build Docker test image
        run: docker compose -f docker-compose.test.yaml build
      - name: Create Docker network
        run: docker network create planr_network
      - name: Start Docker Containers
        run: docker compose -f docker-compose.test.yaml up -d
      - name: Run Tests
        run: docker compose -f docker-compose.test.yaml run app python manage.py test

  deploy_test:
    name: Deploy test
    runs-on: ubuntu-latest
    environment: test
    permissions:
      contents: read
      packages: write
    needs:
      - build
      - test
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull the image from the registry
        run: docker image pull ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }}
      - name: Add the on-test tag to the image
        run: docker image tag ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }} ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}:on-test
      - name: Push the image back to the registry with all the tags
        run: docker push --all-tags ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}
      - name: Start rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout restart deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}
      - name: Status rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout status deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}

  deploy_acc:
    name: Deploy acc
    runs-on: ubuntu-latest
    environment: acc
    permissions:
      contents: read
      packages: write
    needs:
      - build
      - deploy_test
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull the image from the registry
        run: docker image pull ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }}
      - name: Add the on-acc tag to the image
        run: docker image tag ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }} ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}:on-acc
      - name: Push the image back to the registry with all the tags
        run: docker push --all-tags ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}
      - name: Start rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout restart deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}
      - name: Status rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout status deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}

  deploy_prod:
    name: Deploy prod
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      packages: write
    needs:
      - build
      - deploy_acc
    if: github.ref_name == 'main'
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull the image from the registry
        run: docker image pull ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }}
      - name: Add the on-prod tag to the image
        run: docker image tag ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}@${{ needs.build.outputs.image_digest }} ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}:on-prod
      - name: Push the image back to the registry with all the tags
        run: docker push --all-tags ${{ env.REGISTRY }}/${{ needs.build.outputs.image_name }}
      - name: Start rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout restart deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}
      - name: Status rollout on k8s platform
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ vars.KUBE_HOST }}
          KUBE_CERTIFICATE: ${{ vars.KUBE_CERTIFICATE }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
        with:
          args: rollout status deployment/app deployment/worker --namespace=${{ vars.KUBE_NAMESPACE }}